<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Area Management</title>
    <head th:include="/headLinksFragment.html"></head>

</head>

<body>
<div th:include="/pds_header.html"></div>
	<section class="main">
    <div class="base-content">
        <div class="top-page">
            <!-- <h1 class="content-title"> [[#{gestion}]] DOCUMENTS</h1> -->
            <h1 class="content-title">[[#{archive.titre}]]</h1> 
        </div>
        <!-- document -->

        <div class="-container">
            <a class="btn pds-primary-btn pds-add-user-btn pds-icon-btn" href="uploadForm"><img class="icon-btn" src="img/pds_add_document.svg"><span class="label-btn"> [[#{ajouter}]] document </span></a>
            <div class="table-responsive">
                <table id="docList" class="pds-table table table-hover table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">[[#{chronologie}]]</th>
                            <th scope="col">[[#{nom.fichier}]]</th>
                            <th scope="col">[[#{auteur}]]</th>
                            <th scope="col">[[#{date.depot}]]</th>
                            <th scope="col" class="">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="listFile: ${ListFiles}">
                            <td th:text="${listFile.chr_rappel}"></td>
                            <td th:text="${listFile.arret}"></td>
                            <td th:text="${listFile.auteur}"></td>
                            <td th:text="${listFile.date_crea}"></td>
                            <td class="">
                            <div class="doclist-flex-action">
                       
                                <span class="action-btn">
                                    <a th:href="'documents' +${listFile.links_file}"><img src="img/pds_download_black.svg"></a>
                                </span>
                                 </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- document -->
        </div>
	
	</div>
	</section>
</body>

</html>