.wrap-login100 {
    background: #027fad ;
    /* background: #22abd4; */
}
.container-login100::before{
    background-color:rgba(73, 246, 254, 0.7);
    /* background-color:rgba(140, 255, 90, 0.9); */
    /* background-color: rgba(10,100,125,0.9); */
}
.login100-form-btn{
    color: #027fad;
    background-color: rgba(0,0,0,0);
    border:1px solid #ffffff;
}
.login100-form-btn::before{
    background-color: #ffffff;
    border:1px solid rgba(0,0,0,0)!important;
}