<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <head th:include="/headLinks.html" th:remove="tag"></head>
    </head>
    <body class="stories">
        <div th:include="/pds_header.html"></div>
        <section class="main">
            <div class="base-content">
                <br>
                <form method="POST" th:action="@{/addBeneficiaire}">
                    <div class="card">
                        <header class="composantesTable-header justify-between">
                            <h2 class="page-title">[[#{accueil.contenu}]]</h2>
                        </header>
                        <table class="composantes-table" id="myTable">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <span>[[#{content}]]</span>
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="b : ${Accueil}">
                                    <td th:utext="${b.contenu_acc}"></td>
                                    <td class="center td-action">
                                        <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="edit" th:href="@{'/editAccueil/' + ${b.id_acc}}"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>       
                </div>
            </div>
        </section>
    </body>
</html>
