<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>GIZ</title>
	<link rel="icon" type="image/png" href="img/giz_logo.png"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  
	  <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
	  <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	 <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/Giz/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/Giz/css/fonts.css}">   
	<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/Giz/css/giz.css}" />	
<style type="text/css">
.select2-container .select2-selection--single {
	height: 34px !important;
}

.select2-container--default .select2-selection--single {
	border: 1px solid #ccc !important;
}
</style>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#datepicker').datepicker({
				format: 'dd-mm-yyyy',
				"autoclose": true,
				language: 'en'
			})//.datepicker("setDate", 'now')
				;
			var valeur = $('#error_value').text();
			if(valeur != '') {
				$('#messageModal').modal('show');
				$('#msg').text(valeur);
			}
		});

	</script>
</head>

<body class="add-success">
<div th:include="/pds_header.html"></div>
<div th:include="crud-form/crudMenu.html" th:remove="tag"></div><br>

<form method="POST" th:action="@{/saveEditBeneficiaire}">
<input th:field="*{beneficiaire.id_bf}" type="hidden"> 
   Nom<br>
  <input th:field="*{beneficiaire.nom_bf}" type="text" id="nom_bf" ><br>
  Prénom:<br>
  <input th:field="*{beneficiaire.prenom_bf}" type="text" ><br>
  Date de naissance:<br>
  <input type="date" 
       th:field="*{beneficiaire.date_naiss_bf}"
       min="2015-01-01"><br>
  Contact:<br>
  <input th:field="*{beneficiaire.contact_bf}" type="text"  ><br>
  Adresse:<br>
  <input th:field="*{beneficiaire.adresse_bf}" type="text"><br><br>
  <input type="submit" value="Submit">
</form>
					
</body>
<html>