<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <head th:include="/headLinks.html" th:remove="tag"></head>
        <style type="text/css">
.select2-container .select2-selection--single {
	height: 34px !important;
}

.select2-container--default .select2-selection--single {
	border: 1px solid #ccc !important;
}
        </style>
        <script type="text/javascript">
		$(document).ready(function () {
			$('#datepicker').datepicker({
				format: 'dd-mm-yyyy',
				"autoclose": true,
				language: 'en'
			})//.datepicker("setDate", 'now')
				;
			var valeur = $('#error_value').text();
			if(valeur != '') {
				$('#messageModal').modal('show');
				$('#msg').text(valeur);
			}
		});
        </script>
    </head>
    <body class="add-success">
		<div th:include="/pds_header.html"></div>
		<section class="main">
            <div class="base-content">
				<div th:include="crud-form/crudMenu.html" th:remove="tag"></div>
				<br>
				<form method="POST" th:action="@{/saveBeneficiaire}" class="form-edition-cust">
					Nom
					<br>
					<input type="text" id="nom_bf" th:name="nom_bf">
					<br>
					Prénom:
					<br>
					<input type="text" th:name="prenom_bf">
					<br>
					Date de naissance:
					<br>
					<input
						class="form-control select2"
						type="date"
						th:name="date_naiss_bf"
						value="2018-07-22"
						min="2015-01-01"
					>
					<br>
					Contact:
					<br>
					<input type="text" th:name="contact_bf">
					<br>
					<label class="checkbox-input">
						Success Stories:
						<input type="checkbox" th:name="success" value="true">
					</label>
					<br>
					Adresse:
					<br>
					<input type="text" th:name="adresse_bf">
					<br>
					<br>
					<input type="submit" value="Submit" class="gbtn">
				</form>
			</div>
		</section>
    </body>
    </html>
