<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<head th:include="/headLinks.html" th:remove="tag"></head>
	<style type="text/css">
	.select2-container .select2-selection--single {
		height: 34px !important;
	}

	.select2-container--default .select2-selection--single {
		border: 1px solid #ccc !important;
	}
	</style>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#datepicker').datepicker({
				format: 'dd-mm-yyyy',
				"autoclose": true,
				language: 'en'
			})//.datepicker("setDate", 'now')
				;
			var valeur = $('#error_value').text();
			if(valeur != '') {
				$('#messageModal').modal('show');
				$('#msg').text(valeur);
			}
		});

	</script>
</head>

<body class="add-success">
<div th:include="/pds_header.html"></div>
<div th:include="crud-form/crudMenu.html" th:remove="tag"></div><br>

<form method="POST" th:action="@{/saveEditFormer}">
<input th:field="*{former.id}" type="hidden"> 
  Nom et Prénom Bénéficiaire:<br>
  <select class="form-control select2" th:field="*{former.id_bf}"  th:name="id_bf"
	style="height: 40px !important;width: 27%;" required>
	<option th:value="null">-- <span>nom et prénom</span> --
	</option>
	<option th:each="b : ${Beneficiaire}" th:value="${b.id_bf}"
		th:text="${b.nom_bf +' '+ b.prenom_bf }"></option>
</select><br>
  Type de formation :<br>
  <select class="form-control select2" th:field="*{former.id_form}" th:name="id_form"
	style="height: 40px !important;width: 27%;" required>
	<option th:value="null">-- <span>Type de Formation</span> --
	</option>
	<option th:each="f : ${Formation}" th:value="${f.id_form}"
		th:text="${f.type_form +' par ' +  f.nom_form + ' à ' + f.commune_form +' ('+ f.district_form +')'}"></option>
</select><br>
   Date formation<br>
  <input type="date" th:field="*{former.date_frm}" id="date_frm" th:name="date_frm" min="2015-01-01" ><br><br>
  <input type="submit" value="#{save}">
</form>
					
</body>
<html>