
<!DOCTYPE html>
<html>
<head>
<title>GIZ</title>
<link rel="icon" type="image/png" href="css/images/icons/favicon.png" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--JQUERY-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<!-- Nuestro css-->
<link rel="stylesheet" type="text/css" th:href="@{css/index.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/fonts.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/giz.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/tracker_table.css}" />
</head>
<script th:inline="javascript">
var imageValue = [[${imageValue}]];
console.log("imageValue",imageValue);
</script>
<body>
	<div th:include="/pds_header.html"></div>
	<section class="main"> 
		<div class="base-content">	
			<div id="previewImage"></div>	
			
			<br><br><br>
			<div class="top-page">
				<h1 class="content-title">
					<div >WP2 : Access to Finance</div>
					<div class="sub-tontent-title">Activities highlights based on status</div>
				</h1>
				
			</div>
			<div class="text-center">
			</div>
			<br><br>
			<div class="table-tracker-container" id="" crossorigin="anonymous">
				<table class="d-table-tracker indicator-table" id="test">
					<tr class="">
						<th class="row-field"><div class="editable-field">Activity </div></th>
						<th class="row-field"><div class="editable-field">Highlight / Blocker</div></th>
						<th class="row-field"><div class="editable-field">Comment / Action / Next step</div></th>
						<th class="row-field"><div class="editable-field">Timeline</div></th>
						<th class="row-field"><div class="editable-field">Impact on the project</div></th>
						<th class="row-field"><div class="editable-field">Who</div></th>
					</tr>
					<tr class="">
						<td class="row-field"><div class="editable-field" contenteditable>Youths committees</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>Opening sub-office in Antalaha</div></td>
						
						<td class="row-field"><div class="editable-field" contenteditable>
							This activity will be prioritized once sub-office in Antalaha will open. This will depend on GIZ contract signature
						</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>July 2020</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>low</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>SCI</div></td>
					</tr>
					<tr class="">
						<td class="row-field"><div class="editable-field" contenteditable>SRH sensitization</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>Opening sub-office in Antalaha</div></td>
						
						<td class="row-field"><div class="editable-field" contenteditable>
							Selection of Peers educators done in Andapa and Sambava. Delayed for Antalaha
Selection of Peers educators will be done once Youths committees in place
						</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>Sept 2020</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>low</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>SCI</div></td>
					</tr>
					<tr class="">
						<td class="row-field"><div class="editable-field" contenteditable>CP community capacity building</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>Opening sub-office in Antalaha</div></td>
						
						<td class="row-field"><div class="editable-field" contenteditable>Selection of 2 champions and 2 CP animators ongoing for Andapa and Sambava
							Selection in Antalaha</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>Sept 2020</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>low</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>SCI</div></td>
					</tr>
					<tr class="">
						<td class="row-field"><div class="editable-field" contenteditable>Local referral system</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>Opening sub-office in Antalaha</div></td>
						
						<td class="row-field"><div class="editable-field" contenteditable>Mapping ongoing for Andapa and Sambava

							Mapping of existing structures for Antalaha
							</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>Sept-Oct 2020</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>low</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>SCI</div></td>
					</tr>
					<tr class="">
						<td class="row-field"><div class="editable-field" contenteditable>MFR courses</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>Courses started for second year</div></td>
						
						<td class="row-field"><div class="editable-field" contenteditable>Activities will be charged to Symrise funding while waiting for GIZ contract</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>June 2020</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>medium</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>MFR</div></td>
					</tr>
					<tr class="">
						<td class="row-field"><div class="editable-field" contenteditable>Other activities of MFR</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>Not started</div></td>
						
						<td class="row-field"><div class="editable-field" contenteditable>Contract between GIZ and MFR</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>July</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>medium</div></td>
						<td class="row-field"><div class="editable-field" contenteditable>MFR/GIZ</div></td>
					</tr>
					
				</table>
			</div>
						<div class="form-input-label" for="desc">Description</div>
					<textarea id="desc" name="desc" rows="4" cols="50" placeholder="Ajouter une description">
					</textarea>
						<span class="float-right"><form><button id="btn-next-tracker" type="submit" class="gbtn btn-export-screenshot">Retour</button></form></span>
						<button id="btn-Preview-Image" class="gbtn btn-export-screenshot">Enregistrer</button>	

		</div>


	  		
   		<br><br>
		
	</section>



	<script th:src="@{/css/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/css/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/css/vendor/bootstrap/js/bootstrap.min.js}"></script>

	<script th:src="@{/js/tracker-table/jquery-1.12.4.js}"></script>
	<script th:src="@{/js/tracker-table/jquery-ui.js}"></script>
	<script th:src="@{/js/tracker-table/html2canvas.min.js}"></script>
	<script th:src="@{/js/tracker-table/jspdf.min.js}"></script>

	<script th:src="@{/js/tracker-table/trackerTableNextWP2.js}"></script>

</body>

</html>