<!DOCTYPE html>

<head>
    <head th:include="/headLinks.html" th:remove="tag"></head>
</head>

<body>
<div th:include="/pds_header.html"></div>
 	<section class="main">
   	<div class="container-fluid content-wrapper">
        <div class="top-page">
            <h1 class="content-title"> [[#{tracker.titre}]] WP3</h1>
        </div>
        <!-- document -->

        <div class="">
			<div th:include="TrackerMenu.html" th:remove="tag"></div>
            <a class="btn pds-primary-btn pds-add-user-btn pds-icon-btn" href="trackerAddWP3"><img class="icon-btn" src="img/pds_add_document.svg"><span class="label-btn"> [[#{ajouter}]] Tracker </span></a>
            <div class="table-responsive">
                <table id="docList" class="pds-table table table-hover table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Nom du fichier </th>
                            <th scope="col">Date </th>
                            <th scope="col" >Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="listFile: ${ListFiles}">
                            <td th:text="${listFile.desc_file}"></td>
                            <td th:text="${listFile.file_name}"></td>
                            <td th:text="${listFile.date_tracker}"></td>
                            <td >
                            <div class="doclist-flex-action">
                       
                                <span class="action-btn">
                                    <a th:href="${listFile.file_name}"/><img src="img/pds_download_black.svg"></a>
                                </span>
                                 </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- document -->
        </div>
	</div>
	<section class="main">
</body>

</html>