
<!DOCTYPE html>
<html>
<head>
	<head th:include="/headLinks.html" th:remove="tag"></head>
	<link rel="stylesheet" type="text/css"
		th:href="@{/css/tracker_table.css}" />
	</head>
	<script th:inline="javascript">
	var imageValue = [[${imageValue}]];
	console.log("imageValue",imageValue);
	</script>
<body>
	<div th:include="/pds_header.html"></div>
	<section class="main"> 
		<div class="container">	
			<div id="previewImage"></div>	
			
			<br><br><br>
			<div class="top-page">
				<h1 class="content-title">
					<div >WP1 : Climate smart agriculture</div>
					<div class="sub-tontent-title">Activities highlights based on status</div>
				</h1>
				
			</div>
			<div class="text-center">
			</div>
			<br><br>
			<div class="table-tracker-container" id="" crossorigin="anonymous">
				<table class="d-table-tracker indicator-table" id="test">
					<tr class="">
						<th class="row-field"><div class="editable-field">Activity </div></th>
						<th class="row-field"><div class="editable-field">Highlight / Blocker</div></th>
						<th class="row-field"><div class="editable-field">Comment / Action / Next step</div></th>
						<th class="row-field"><div class="editable-field">Timeline</div></th>
						<th class="row-field"><div class="editable-field">Impact on the project</div></th>
						<th class="row-field"><div class="editable-field">Who</div></th>
					</tr>
					<tr class="">
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
					</tr>
					<tr class="">
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
					</tr>
					<tr class="">
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
					</tr>
					<tr class="">
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
					</tr>
					<tr class="">
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
					</tr>
					<tr class="">
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
						<td class="row-field"><div class="editable-field" contenteditable></div></td>
					</tr>
					
				</table>
			</div>
			<br>
						<div class="form-input-label" for="desc">Description</div>
					<textarea id="desc" name="desc" rows="4" cols="50" placeholder="Ajouter une description">
					</textarea>
						<span class="float-right"><form><button id="btn-next-tracker" type="submit" class="gbtn btn-export-screenshot">[[#{retour}]]</button></form></span>
						<button id="btn-Preview-Image" class="gbtn btn-export-screenshot">[[#{save}]]</button>	

		</div>


	  		
   		<br><br>
		
	</section>



	<!-- <script th:src="@{/css/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/css/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/css/vendor/bootstrap/js/bootstrap.min.js}"></script> -->

	<script th:src="@{/js/tracker-table/jquery-1.12.4.js}"></script>
	<script th:src="@{/js/tracker-table/jquery-ui.js}"></script>
	<script th:src="@{/js/tracker-table/html2canvas.min.js}"></script>
	<script th:src="@{/js/tracker-table/jspdf.min.js}"></script>

	<script th:src="@{/js/tracker-table/trackerTableNextWP1.js}"></script>

</body>

</html>