<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="/headLinksFragment.html" th:remove="tag"></head>
</head>

<body>
<div th:include="/pds_header.html"></div>
 	<section class="main">
   	<div class="container-fluid content-wrapper">
        <div class="top-page">
            <h1 class="content-title"> [[#{tracker.titre}]] WP3</h1>
        </div>
        <!-- document -->

        <div class="">
			<div th:include="TrackerMenu.html" th:remove="tag"></div>
			<a class="btn pds-primary-btn pds-add-user-btn pds-icon-btn" href="trackerFormWP3"><img class="icon-btn" src="img/pds_add_document.svg"><span class="label-btn"> Upload Tracker </span></a>
            <a class="btn pds-primary-btn pds-add-user-btn pds-icon-btn" href="trackerAddWP3"><img class="icon-btn" src="img/pds_add_document.svg"><span class="label-btn"> [[#{ajouter}]] Tracker </span></a>
            <div class="table-responsive">
                <table id="docList" class="pds-table table table-hover table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Nom du fichier </th>
                            <th scope="col">Date </th>
                            <th scope="col" >Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="listFile: ${ListFiles}">
                            <td th:text="${listFile.desc_file}"></td>
                            <td th:text="${listFile.file_name}"></td>
                            <td th:text="${listFile.date_tracker}"></td>
                            <td >
                            <div class="doclist-flex-action">
                       
                                <span class="action-btn">
                                    <a class="btn" th:href="'/tracker/' + ${listFile.file_name}"><img src="img/pds_download_black.svg"></a>
                                    <a class="btn" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:onclick="@{'javascript:confirmDelete(\''+${listFile.id}+'\');'}"><img src="images/delete.svg"></a>
                                </span>
                                 </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- document -->
        </div>
	</div>
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
			aria-labelledby="deleteModalTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content card-body">
					<div class="modal-header">
						<h2 class="page-title modal-title" id="exampleModalLongTitle">[[#{confirm.titre}]]</h2>
						<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">X</span>
						</button> -->
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-modal">
						<span>[[#{confirm}]]</span> <input type="hidden"
							id="sensibileIdHiddenInput">
					</div>
					<div class="modal-footer btn-row">
						<button type="button" class="gbtn cancel" data-dismiss="modal">[[#{fermer}]]</button>
						<button type="button" class="gbtn"
							th:onclick="confirmDeleteSensibilise()">[[#{supprimer}]]</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" th:src="@{js/ajaxEdition.js}"></script>
	<script type="text/javascript">
            function confirmDelete(id) {
                $('#deleteModal').modal('show');
                $("#sensibileIdHiddenInput").val(id);
            }

            function confirmDeleteSensibilise() {
                var id = $("#sensibileIdHiddenInput").val();
                window.location = "deleteTrackerWP3/" + id;
            }
    </script>
</body>

</html>