<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <head th:include="/headLinks.html" th:remove="tag"></head>
        <style type="text/css">
.select2-container .select2-selection--single {
	height: 34px !important;
}

.select2-container--default .select2-selection--single {
	border: 1px solid #ccc !important;
}
        </style>
        <script type="text/javascript">
		$(document).ready(function () {
			$('#datepicker').datepicker({
				format: 'dd-mm-yyyy',
				"autoclose": true,
				language: 'en'
			})//.datepicker("setDate", 'now')
				;
			var valeur = $('#error_value').text();
			if(valeur != '') {
				$('#messageModal').modal('show');
				$('#msg').text(valeur);
			}
		});
        </script>
    </head>
    <body class="add-success">
		<div th:include="/pds_header.html"></div>
		<section class="main">
            <div class="base-content">
              <h2 class="page-title">CANEVAS FORMATION SUR LES TECHNIQUES/METIERS POUR LES JEUNES</h2>
				<form method="POST" th:action="@{/createWp3FormTechMetierJeune}"  class="form-edition-cust">
					Code village
					<br>
					<input type="text" name="code_village" id="code_village">
					<br>
					Genre:
					<br>
					<select class="form-control select2" name="sexe" id="sexe"
						style="height: 40px !important;width: 100%;" required>
						<option value="" selected>[[#{selectionner}]]</option>
						<option value="H">Homme</option>
						<option value="F">Femme</option>
					</select>
					<br>
					Année de naissance:
					<br>
					<input type="text" name="annee_naissance" id="annee_naissance">				
					<br>
					Organisme formateur :
					<br>
					<input type="text" name="organisme_formateur" id="organisme_formateur">
					<br>
					Formation reçue :
					<br>
					<select class="form-control select2" name="formation_recue" id="formation_recue"
						style="height: 40px !important;width: 100%;" required>
						<option value="" selected>[[#{selectionner}]]</option>
						<option value="true">Oui</option>
						<option value="false">Non</option>
					</select>
					<br>
					Theme :
					<br>
					<input type="text" name="theme" id="theme">
					<br>
					Date de fin :
					<br>
					<input type="date" min="2015-01-01" class="form-control select2" name="date_fin" id="date_fin">
					<br>
					Etape à suivre :
					<br>
					<input type="text" name="etape_suivre" id="etape_suivre">
					<br>
					date realisation :
					<br>
					<input type="date" min="2015-01-01" class="form-control select2" name="date_realise" id="date_realise">
					<br>
					<br>
					<input type="submit" th:value="#{save}" class="gbtn">
				</form>
			</div>
		</section>
    </body>
    <html>
