<form id="myForm" method="POST" th:action="@{/FindData}">
<select id="suivi" class="ginput form-control" th:name="suivi" style="width: 30%;" required>
  <option value="">[[#{selectionner}]] suivi</option>
  <option value="Activité">Activité</option>
  <option value="1">Suivi parcelle vanille</option>
  <option value="2">Suivi parcelle vanille diversification</option>
</select>

&emsp;
<select id="data" class="ginput form-control" th:name="data" style="width: 30%; margin-left: 18px;">
  <option value="">[[#{selectionner}]] données externe</option>
</select>

&emsp;
<select id="zone" class="ginput form-control" th:name="zone" style="width: 20%;">
	<option value="">[[#{selectionner}]] zone</option>
	<option th:each="ob:${zoneList}" th:value="${ob[0]}" th:text="${'Zone ' + ob[0]}"></option>
</select>

&emsp;
<select id="code_fkt" class="ginput form-control" th:name="code_fkt" style="width: 20%;">
	<option value="">[[#{selectionner}]] fokontany</option>
</select>

&emsp;
<select id="code_prod" class="ginput form-control" th:name="code_prod" style="width: 20%;">
  <option value="">[[#{selectionner}]] producteur</option>
</select>

&emsp;&emsp;
<input class="gbtn" type="submit" value="RECHERCHER">
</form>
<<script type="text/javascript">
	$(document).ready(function() {
	
		$("#suivi").change(function() {
		      var suivi = $(this).val();
		      //alert(suivi);
		      var s = '<option value="">[[#{selectionner}]] données externe</option>';
		   
		      	$.ajax({
		        url : '/Giz/getData',
		        data : { "suivi" : suivi },
		        success : function(result) {
		        	var result = JSON.parse(result);
		        	for (var i = 0; i < result.length; i++) {
		        	  s += '<option value="' + result[i] + '">'+ result[i]+ '</option>';
		        	}
		        	$('#data').html(s);
		        }
		      });
				//reset data
	     	$('#data').html(s);
		   });
	
	   $("#zone").change(function() {
	      var zone = $(this).val();
	      var s = '<option value="">[[#{selectionner}]] fokotany</option>';
	       var t = '<option value="">[[#{selectionner}]] producteur</option>';
	   
	      	$.ajax({
	        url : '/Giz/getFokontany',
	        data : { "zone" : zone },
	        success : function(result) {
	        	var result = JSON.parse(result);
	        	for (var i = 0; i < result.length; i++) {
	        	  s += '<option value="' + result[i][0] + '">'+ result[i][0]+ '</option>';
	        	}
	        	$('#code_fkt').html(s);
	        }
	      });
	  
	     //reset data
	     $('#code_fkt').html(s);
	     $('#code_prod').html(t);
	
	   });
	
	$("#code_fkt").change(function() {
	      var code_fkt = $(this).val();
	      //alert(code_fkt);
	      var s = '<option value="">[[#{selectionner}]] producteur</option>';
	     
	      	$.ajax({
	        url : '/Giz/getProd',
	        data : {"code_fkt" : code_fkt},
	        success : function(result) {
	        	var result = JSON.parse(result);
	        	for (var i = 0; i < result.length; i++) {
	        		s += '<option value="' + result[i][0] + '">'+ result[i][1]+ ' - '+ result[i][0]+ '</option>';
	        	}
	        	$('#code_prod').html(s);
	        }
	       });

	     //reset data
	     $('#code_prod').html(s);
	  });
});
</script>
 
