<form id="myForm" method="POST" th:action="@{/FindData}">

<select id="suivi_select" class="ginput form-control" th:name="suivi" style="width: 15%;">
  <option value="">[[#{selectionner}]] suivi</option>
  <option value="listActivite">Activité</option>
  <option value="listFertilisant_culture">Fértilisant culture</option>
  <option value="listInfo_parcelle_divers">Information parcelle divers</option>
  <option value="listParasite_maladie_divers">Parasite et maladie divers</option>
  <option value="listFertilisant_vanille">Fértilisant vanille</option>
  <option value="listInfo_generale">Information generale</option>
  <option value="listInfo_parcelle">Information parcelle</option>
  <option value="listMain_oeuvre">Main d'ouevre</option>
  <option value="listParasite_maladie">Parasite et maladie</option>
  <option value="listQuestion_conseil">Question et conseil</option>
  <option value="listTechnique_vanille">Technique vanille</option>
</select>

&emsp;
<select id="zone" class="ginput form-control" th:name="zone" style="width: 15%;">
	<option value='-1'>[[#{selectionner}]] zone</option>
	<option th:each="ob:${zoneList}" th:value="${ob[0]}" th:text="${'Zone ' + ob[0]}"></option>
</select>

&emsp;
<select id="code_fkt" class="ginput form-control" th:name="code_fkt" style="width: 15%;">
	<option value='-1'>[[#{selectionner}]] fokontany</option>
</select>

&emsp;
<select id="code_prod" class="ginput form-control" th:name="code_prod" style="width: 15%;">
  <option value='-1'>[[#{selectionner}]] producteur</option>
</select>

&emsp;&emsp;
<input class="gbtn" type="submit" value="RECHERCHER">
</form>
<script>
	$(document).ready(function() {
	   $("#zone").change(function() {
	      var zone = $(this).val();
	      var s = '<option value=' + -1 + '>[[#{selectionner}]] fokotany</option>';
	       var t = '<option value=' + -1 + '>[[#{selectionner}]] producteur</option>';
	   
	      	$.ajax({
	        url : '/Giz/getFokontany',
	        data : { "zone" : zone },
	        success : function(result) {
	        	var result = JSON.parse(result);
	        	for (var i = 0; i < result.length; i++) {
	        	  s += '<option value="' + result[i][0] + '">'+ result[i][0]+ '</option>';
	        	}
	        	$('#code_fkt').html(s);
	        }
	      });
	  
	     //reset data
	     $('#code_fkt').html(s);
	     $('#code_prod').html(t);
	
	   });
	
	$("#code_fkt").change(function() {
	      var code_fkt = $(this).val();
	      //alert(code_fkt);
	      var s = '<option value=' + -1 + '>[[#{selectionner}]] producteur</option>';
	     
	      	$.ajax({
	        url : '/Giz/getProd',
	        data : {"code_fkt" : code_fkt},
	        success : function(result) {
	        	var result = JSON.parse(result);
	        	for (var i = 0; i < result.length; i++) {
	        		s += '<option value="' + result[i][0] + '">'+ result[i][1]+ ' - '+ result[i][0]+ '</option>';
	        	}
	        	$('#code_prod').html(s);
	        }
	       });

	     //reset data
	     $('#code_prod').html(s);
	  });
});
</script>
 
