<form id="myForm" method="POST" th:action="@{/FindData}">

<select id="zone" class="ginput form-control" th:name="zone" style="width: 15%;">
	<option value="" selected>---- Zone ----</option>
	<option th:each="p : ${prod}" th:value="${p.zone}" th:text="'Zone ' + ${p.zone}"></option>
</select>

&emsp;
<select id="fkt" class="ginput form-control" th:name="code_fkt" style="width: 15%;">
  <option value="" selected>---- Code fokontany ----</option>
  <option th:each="p : ${prod}" th:value="${p.code_fkt}" th:text="${p.code_fkt}"></option>
</select>

&emsp;
<select id="prod" class="ginput form-control" th:name="code_prod" style="width: 15%;">
  <option value="" selected>---- Code producteur ----</option>
  <option th:each="p : ${prod}" th:value="${p.code_prod}" th:text="${p.code_prod}"></option>
</select>


&emsp;
<select id="suivi_select" class="ginput form-control" th:name="suivi" style="width: 15%;">
  <option value="" selected>---- Suivi parcelle ----</option>
  <option value="listActivite">Activité</option>
  <option value="listFertilisant_culture">Fértilisant culture</option>
  <option value="listInfo_parcelle_divers">Information parcelle divers</option>
  <option value="listParasite_maladie_divers">Parasite et maladie divers</option>
  <option value="listFertilisant_vanille">Fértilisant vanille</option>
  <option value="listInfo_generale">Information generale</option>
  <option value="listInfo_parcelle">Information parcelle</option>
  <option value="listMain_oeuvre">Main d'ouevre</option>
  <option value="listParasite_maladie">Parasite et maladie</option>
  <option value="listQuestion_conseil">Question et conseil</option>
  <option value="listTechnique_vanille">Technique vanille</option>
</select>

&emsp;&emsp;
<input class="gbtn" type="submit" value="RECHERCHER">
</form>
<script>
$(function(){
    // bind change event to select
    $('#zone').on('change', function () {
      $('form#myForm').attr({action: '/Giz/FindData'});
      $('form#myForm').attr({modelAttribute: 'prod'});
	  $('form#myForm').attr({method: 'POST'});    
	  $('form#myForm').submit();
    });
    
    $('#fkt').on('change', function () {
      $('form#myForm').attr({action: '/Giz/FindData'});
      $('form#myForm').attr({modelAttribute: 'prod'});
	  $('form#myForm').attr({method: 'POST'});    
	  $('form#myForm').submit();
    });
    
  });
</script>
 
