<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Données externes</title>

    <head th:include="/headLinksFragment.html" th:remove="tag"></head>
</head>

<body class="stories">
    <div th:include="/pds_header.html"></div>
    <section class="main">
        <div class="card">
            <header class="composantesTable-header justify-between">
                <h2 class="page-title">MAIN d'ŒUVRE (Vanille et autres spéculations)</h2>
				<button type="button" name="btnExport" id="btnExport" style="margin-left: 670px;" class="gbtn">[[#{exporter}]]</button>
            </header>
            <div id="html-content-holder">
            <table class="composantes-table text-center" id="myTable">
                <thead>
                    <tr>
                        <th scope="col"><span>Code producteur</span></th>
                        <th scope="col"><span>Nombre employée perm</span></th>
                        <th scope="col"><span>employée jour saison</span></th>
                        <th scope="col"><span>Nombre employée jour</span></th>
                        <th scope="col"><span>pay employée jour</span></th>
                        <th scope="col"><span>Mois tw employée</span></th>
                        <th scope="col"><span>TW</span></th>
                        <th scope="col"><span>Autre</span></th>
                        <th scope="col"><span>Activite vanille</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="b : ${main_oeuvre}">
                        <td th:text="${b.code_prod}"></td>
                        <td th:text="${b.nbr_empl_perm}"></td>
                        <td th:text="${b.empl_jour_saison}"></td>
                        <td th:text="${b.nbr_empl_jour}"></td>
                        <td th:text="${b.pay_empl_jour}"></td>
                        <td th:text="${b.mois_tw_empl}"></td>
                        <td th:text="${b.tw}"></td>
                        <td th:text="${b.autre}"></td>
                        <td th:text="${b.activite_vanille}"></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </section>
    <script type="text/javascript">
		$("#btnExport").click(function(e) {
	        let file = new Blob([$('#html-content-holder').html()], {type:"application/vnd.ms-excel"});
	        let url = URL.createObjectURL(file);
	        let a = $("<a />", {
	        href: url,
	        download: "filename.xls"}).appendTo("body").get(0).click();
	        e.preventDefault();
      });
	</script>
</body>

</html>