<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Données externes</title>

	<head th:include="/headLinksFragment.html" th:remove="tag"></head>
</head>

<body class="stories">
	<div th:include="/pds_header.html"></div>
	<section class="main">
		<div class="card">
			<header class="composantesTable-header justify-between">
				<h2 class="page-title">FERTILISANTS VANILLE</h2>
				<button type="button" name="btnExport" id="btnExport" style="margin-left: 850px;"
					class="gbtn">[[#{exporter}]]</button>
			</header>
			<div id="html-content-holder">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
				<table class="composantes-table text-center" id="myTable">
					<thead>
						<tr>
							<th scope="col"><span>Code producteur</span></th>
							<th scope="col"><span>Utilisation fertilisant</span></th>
							<th scope="col"><span>Type de fertilisant utilisé</span></th>
							<th scope="col"><span>Autre</span></th>
							<th scope="col"><span>Quantité de produit apporté à chaque utilisation</span></th>
							<th scope="col"><span>Nombre d'application par an</span></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="b : ${fertilisant_vanille}">
							<td th:text="${b.code_pro}"></td>
							<td th:text="${b.use_fertilisant}"></td>
							<td th:text="${b.type_use}"></td>
							<td th:text="${b.autre}"></td>
							<td th:text="${b.qte}"></td>
							<td th:text="${b.nbr_ans}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		$("#btnExport").click(function (e) {
			let file = new Blob([$('#html-content-holder').html()], { type: "application/vnd.ms-excel" });
			let url = URL.createObjectURL(file);
			let a = $("<a />", {
				href: url,
				download: "filename.xls"
			}).appendTo("body").get(0).click();
			e.preventDefault();
		});
	</script>
</body>

</html>