<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>[[#{donnees.externe}]]</title>

	<head th:include="/headLinksFragment.html" th:remove="tag"></head>
</head>

<body class="stories">
	<div th:include="/pds_header.html"></div>
	<section class="main">
		<div class="card">
			<header class="composantesTable-header justify-between">
				<h2 class="page-title">MALADIES & PARASITES</h2>
				<button type="button" name="btnExport" id="btnExport" style="margin-left: 850px;"
					class="gbtn">[[#{exporter}]]</button>
			</header>
			<div id="html-content-holder" class="col-12" style="overflow-x: scroll">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
				<table class="composantes-table text-center" id="myTable">
					<thead>
						<tr>
							<th scope="col"><span>Code [[#{prod}]]</span></th>
							<th scope="col"><span>[[#{constat}]]</span></th>
							<th scope="col"><span>[[#{malad}]]</span></th>
							<th scope="col"><span>[[#{period}]]</span></th>
							<th scope="col"><span>[[#{pourc}]]</span></th>
							<th scope="col"><span>[[#{trait}]]</span></th>
							<th scope="col"><span>[[#{type.trait}]]</span></th>
							<th scope="col"><span>[[#{mec}]]</span></th>
							<th scope="col"><span>[[#{chim}]]</span></th>
							<th scope="col"><span>[[#{quant}]]</span></th>
							<th scope="col"><span>[[#{bio}]]</span></th>
							<th scope="col"><span>[[#{autre}]]</span></th>
							<th scope="col"><span>[[#{freq}]]</span></th>
							<th scope="col"><span>[[#{effet}]]</span></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="b : ${parasite_maladie}">
							<td th:text="${b.code_prod}"></td>
							<td th:text="${b.constate}"></td>
							<td th:text="${b.nom_mp}"></td>
							<td th:text="${b.periode}"></td>
							<td th:text="${b.pourcentage}"></td>
							<td th:text="${b.traitement}"></td>
							<td th:text="${b.type_traitement}"></td>
							<td th:text="${b.mecanique}"></td>
							<td th:text="${b.chimique}"></td>
							<td th:text="${b.chimique_qte}"></td>
							<td th:text="${b.biologique}"></td>
							<td th:text="${b.autre}"></td>
							<td th:text="${b.frequence}"></td>
							<td th:text="${b.effets}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		$("#btnExport").click(function (e) {
			let file = new Blob([$('#html-content-holder').html()], { type: "application/vnd.ms-excel" });
			let url = URL.createObjectURL(file);
			let a = $("<a />", {
				href: url,
				download: "filename.xls"
			}).appendTo("body").get(0).click();
			e.preventDefault();
		});
	</script>
</body>

</html>