<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>[[#{donnees.externe}]]</title>

    <head th:include="/headLinksFragment.html" th:remove="tag"></head>
</head>

<body class="stories">
    <div th:include="/pds_header.html"></div>
    <section class="main">
        <div class="card">
            <header class="composantesTable-header justify-between">
                <h2 class="page-title">PRODUCTEURS</h2>
                <button type="button" name="btnExport" id="btnExport" style="margin-left: 950px;"
                    class="gbtn">[[#{exporter}]]</button>
            </header>
            <div id="html-content-holder" class="col-12" style="overflow-x: scroll;overflow-y: scroll; max-height: 450px">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <table class="composantes-table text-center" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col"><span>Zone</span></th>
                            <th scope="col"><span>Code fokontany</span></th>
                            <th scope="col"><span>Code [[#{prod}]]</span></th>
                            <th scope="col"><span>[[#{nom.prenom}]]</span></th>
                            <th scope="col"><span>[[#{genre}]]</span></th>
                            <th scope="col"><span>[[#{date.inspect}]]</span></th>
                            <th scope="col"><span>[[#{naissance}]]</span></th>
                            <th scope="col"><span>[[#{compte}]]</span></th>
                            <th scope="col"><span>CIN</span></th>
                            <th scope="col"><span>[[#{phone}]]</span></th>
                            <th scope="col"><span>[[#{erreur}]]</span></th>
                            <th scope="col"><span>Photo</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="b : ${listProd}">
                            <td th:text="${b.zone}"></td>
                            <td th:text="${b.code_fkt}"></td>
                            <td th:text="${b.code_prod}"></td>
                            <td th:text="${b.nom_prod}"></td>
                            <td th:text="${b.genre}"></td>
                            <td th:text="${b.date_inspection}"></td>
                            <td th:text="${b.date_naissance}"></td>
                            <td th:text="${b.compte}"></td>
                            <td th:text="${b.cin}"></td>
                            <td th:text="${b.tel}"></td>
                            <td th:text="${b.error_remonte}"></td>
                            <td th:text="${b.photo_prod}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $("#btnExport").click(function (e) {
            let file = new Blob([$('#html-content-holder').html()], { type: "application/vnd.ms-excel" });
            let url = URL.createObjectURL(file);
            let a = $("<a />", {
                href: url,
                download: "filename.xls"
            }).appendTo("body").get(0).click();
            e.preventDefault();
        });
    </script>
</body>

</html>