<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Données externes</title>
<head th:include="/headLinksFragment.html" th:remove="tag"></head>
</head>
<body class="stories">
	<div th:include="/pds_header.html"></div>
	<section class="main">
		<div class="card">
			<header class="composantesTable-header justify-between">
				<h2 class="page-title">QUESTIONS & CONSEILS</h2>
				<button type="button" name="btnExport" id="btnExport" style="margin-left: 870px;" class="gbtn">[[#{exporter}]]</button>
			</header>
			<div id="html-content-holder">
			<table class="composantes-table text-center" id="myTable">
				<thead>
					<tr>
						<th scope="col"><span>Code producteur</span></th>
						<th scope="col"><span>Question Symrise</span></th>
						<th scope="col"><span>Conseil rural</span></th>
						<th scope="col"><span>Etat vanille</span></th>
						<th scope="col"><span>Assistance</span></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="b : ${question_conseil_divers}">
						<td th:text="${b.code_prod}"></td>
						<td th:text="${b.question_symrise}"></td>
						<td th:text="${b.conseil_rural}"></td>
						<td th:text="${b.etat_vanille}"></td>
						<td th:text="${b.assistance}"></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		$("#btnExport").click(function(e) {
	        let file = new Blob([$('#html-content-holder').html()], {type:"application/vnd.ms-excel"});
	        let url = URL.createObjectURL(file);
	        let a = $("<a />", {
	        href: url,
	        download: "filename.xls"}).appendTo("body").get(0).click();
	        e.preventDefault();
      });
	</script>
</body>
</html>
