<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>[[#{donnees.externe}]]</title>

	<head th:include="/headLinksFragment.html" th:remove="tag"></head>
</head>

<body class="stories">
	<div th:include="/pds_header.html"></div>
	<section class="main">
		<div class="card">
			<header class="composantesTable-header justify-between">
				<h2 class="page-title">INFO PARCELLE VANILLE</h2>
				<button type="button" name="btnExport" id="btnExport" style="margin-left: 845px;"
					class="gbtn">[[#{exporter}]]</button>
			</header>
			<div id="html-content-holder">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
				<table class="composantes-table text-center" id="myTable">
					<thead>
						<tr>
							<th scope="col"><span>Code [[#{prod}]]</span></th>
							<th scope="col"><span>[[#{nom.parcelle}]]</span></th>
							<th scope="col"><span>[[#{annee.plantation}]]</span></th>
							<th scope="col"><span>[[#{nombre.liane}]]</span></th>
							<th scope="col"><span>[[#{recolte.estime}]]</span></th>
							<th scope="col"><span>[[#{surface.parcelle}]]</span></th>
							<th scope="col"><span>[[#{nombre.liane}]] total</span></th>
							<th scope="col"><span>[[#{rendement.parcelle}]]</span></th>
							<th scope="col"><span>[[#{volume.recolte}]]</span></th>
							<th scope="col"><span>[[#{culture.associe}]]</span></th>
							<th scope="col"><span>[[#{associe.autre}]]</span></th>
							<th scope="col"><span>[[#{inclinaison}]]</span></th>
							<th scope="col"><span>[[#{anti.errosif}]]</span></th>
							<th scope="col"><span>[[#{technique.utilise}]]</span></th>
							<th scope="col"><span>[[#{photo.technique}]]</span></th>
							<th scope="col"><span>[[#{qualite.ombrage}]]</span></th>
							<th scope="col"><span>[[#{couverture.vegetal}]]</span></th>
							<th scope="col"><span>[[#{avant}]]Avant</span></th>
							<th scope="col"><span>[[#{origine.liane}]]</span></th>
							<th scope="col"><span>[[#{autre}]]</span></th>
							<th scope="col"><span>[[#{photo.parcelle}]]</span></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="b : ${info_parcelle}">
							<td th:text="${b.code_prod}"></td>
							<td th:text="${b.nom_parcel}"></td>
							<td th:text="${b.annee_plan_liane}"></td>
							<td th:text="${b.nbr_liane}"></td>
							<td th:text="${b.recolt_estime}"></td>
							<td th:text="${b.surf_parcel}"></td>
							<td th:text="${b.nbr_liane_total}"></td>
							<td th:text="${b.rende_parcel}"></td>
							<td th:text="${b.vol_anne_prec}"></td>
							<td th:text="${b.culture_asocie}"></td>
							<td th:text="${b.asocie_autre}"></td>
							<td th:text="${b.inclinaison}"></td>
							<td th:text="${b.mise_anti_errosif}"></td>
							<td th:text="${b.technic_use}"></td>
							<td th:text="${b.photo_technique}"></td>
							<td th:text="${b.qualite_ombrage}"></td>
							<td th:text="${b.couverture_vegetal}"></td>
							<td th:text="${b.avant}"></td>
							<td th:text="${b.provien_liane}"></td>
							<td th:text="${b.spec_autre}"></td>
							<td th:text="${b.photo_parcelle}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		$("#btnExport").click(function (e) {
			let file = new Blob([$('#html-content-holder').html()], { type: "application/vnd.ms-excel" });
			let url = URL.createObjectURL(file);
			let a = $("<a />", {
				href: url,
				download: "filename.xls"
			}).appendTo("body").get(0).click();
			e.preventDefault();
		});
	</script>
</body>

</html>