<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Données externes</title>

	<head th:include="/headLinksFragment.html" th:remove="tag"></head>
</head>

<body class="stories">
	<div th:include="/pds_header.html"></div>
	<section class="main">
		<div class="card">
			<header class="composantesTable-header justify-between">
				<h2 class="page-title">INFORMATIONS SUR LA CULTURE</h2>
				<button type="button" name="btnExport" id="btnExport" style="margin-left: 790px;" class="gbtn">[[#{exporter}]]</button>
			</header>
			<div id="html-content-holder">
			<table class="composantes-table text-center" id="myTable">
				<thead>
					<tr>
						<th scope="col"><span>Code producteur</span></th>
						<th scope="col"><span>Type culture</span></th>
						<th scope="col"><span>Nom parcelle</span></th>
						<th scope="col"><span>Période de mise en culture</span></th>
						<th scope="col"><span>Période de culture</span></th>
						<th scope="col"><span>Occupation du sol</span></th>
						<th scope="col"><span>Autre occupation du sol</span></th>
						<th scope="col"><span>Volume annee precedent</span></th>
						<th scope="col"><span>Volume annee à venir</span></th>
						<th scope="col"><span>Surface parcelle</span></th>
						<th scope="col"><span>Rendement</span></th>
						<th scope="col"><span>Nombre pieds</span></th>
						<th scope="col"><span>Etape visite</span></th>
						<th scope="col"><span>Système de protection sol</span></th>
						<th scope="col"><span>Système utilisé</span></th>
						<th scope="col"><span>Associe parcelle</span></th>
						<th scope="col"><span>Autre associe parcel</span></th>
						<th scope="col"><span>Inclinaison</span></th>
						<th scope="col"><span>Mise anti-errosif</span></th>
						<th scope="col"><span>technique utilisée</span></th>
						<th scope="col"><span>Photo technique</span></th>
						<th scope="col"><span>Photo culture</span></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="b : ${info_parcelle_divers}">
						<td th:text="${b.code_prod}"></td>
						<td th:text="${b.type_culture}"></td>
						<td th:text="${b.nom_parcel}"></td>
						<td th:text="${b.periode_mise_culture}"></td>
						<td th:text="${b.periode_culture}"></td>
						<td th:text="${b.occupation_sol}"></td>
						<td th:text="${b.autre_occupation_sol}"></td>
						<td th:text="${b.volume_annee_precedent}"></td>
						<td th:text="${b.volume_annee_venir}"></td>
						<td th:text="${b.surface_parcelle}"></td>
						<td th:text="${b.rendement}"></td>
						<td th:text="${b.nbr_pieds}"></td>
						<td th:text="${b.etape_visite}"></td>
						<td th:text="${b.systeme_protection_sol}"></td>
						<td th:text="${b.systeme_utilise}"></td>
						<td th:text="${b.associe_parcel}"></td>
						<td th:text="${b.autre_associe_parcel}"></td>
						<td th:text="${b.inclinaison}"></td>
						<td th:text="${b.mise_anti_errosif}"></td>
						<td th:text="${b.technic_use}"></td>
						<td th:text="${b.photo_technique}"></td>
						<td th:text="${b.photo_culture}"></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		$("#btnExport").click(function(e) {
	        let file = new Blob([$('#html-content-holder').html()], {type:"application/vnd.ms-excel"});
	        let url = URL.createObjectURL(file);
	        let a = $("<a />", {
	        href: url,
	        download: "filename.xls"}).appendTo("body").get(0).click();
	        e.preventDefault();
      });
	</script>
</body>

</html>