<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>GIZ</title>
        <link rel="icon" type="image/png" href="css/images/icons/favicon.png">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!--JQUERY-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <!-- Nuestro css-->
        <link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/Giz/css/index.css}">
        <link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/Giz/css/fonts.css}">
        <link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/Giz/css/giz.css}">
        <style type="text/css">
.select2-container .select2-selection--single {
	height: 34px !important;
}

.select2-container--default .select2-selection--single {
	border: 1px solid #ccc !important;
}
        </style>
        <script type="text/javascript">
		$(document).ready(function () {
			$('#datepicker').datepicker({
				format: 'dd-mm-yyyy',
				"autoclose": true,
				language: 'en'
			})//.datepicker("setDate", 'now')
				;
			var valeur = $('#error_value').text();
			if(valeur != '') {
				$('#messageModal').modal('show');
				$('#msg').text(valeur);
			}
		});
        </script>
    </head>
    <body class="add-success">
		<div th:include="/pds_header.html"></div>
		<section class="main">
            <div class="base-content">
				<form method="POST" th:action="@{/saveEditWp3JeunePathway}"  class="form-edition-cust">
					<input th:field="*{jeunePathway.id}" type="hidden">
					Code village
					<br>
					<input th:field="*{jeunePathway.code_village}" type="text">
					<br>
					Noms et Prénom de jeunes:
					<br>
					<input th:field="*{jeunePathway.nom_prenom}" type="text">
					<br>
					Sexe (H/F) :
					<br>
					<select class="form-control select2" th:field="*{jeunePathway.sexe}"
						style="height: 40px !important;width: 100%;" required>
						<option value="" selected>[[#{selectionner}]]</option>
						<option value="H">Homme</option>
						<option value="F">Femme</option>
					</select>
					<br>
					Année de naissance :
					<br>
					<input th:field="*{jeunePathway.annee_naissance}" type="text">
					<br>
					 Date de fin formation :
					<br>
					<input th:field="*{jeunePathway.date_fin_frm}" type="date" min="2015-01-01" class="form-control select2">
					<br>
					<br>
					<input type="submit" th:value="#{save}" class="gbtn">
				</form>
			</div>
		</section>
    </body>
    <html>
