<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<tr class="">
	<td class="row-field" rowspan="2"><div class="editable-field" contenteditable >3.3.Les communautés cibles ont une meilleure compréhension de es droits de l'enfant et la protection de l'enfant</div></td>
	<td class="row-field"><div class="editable-field" >Un comité local par village pouvant rapporter les violations des droits des enfants</div></td>
	<td class="row-field"><div class="editable-field" contenteditable>Canevas N°50</div></td>
	<td class="row-field"><div class="editable-field" contenteditable>Remplissage obligatoire</div></td>
	<td class="row-field bg-orange-ffcc"><div class="editable-field" contenteditable>Non démarrée</div></td>
	<td class="row-field"><div class="editable-field"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable>Un comité local par village opérationnel pour rapporter les violations des droits des enfants</div></td>
	<td class="row-field"><div class="editable-field" contenteditable></div></td>
	<td class="row-field"><div class="editable-field" contenteditable>SCI</div></td>
	<td class="row-field"><div class="editable-field" contenteditable></div></td>
	<td class="row-field"><div class="editable-field" contenteditable></div></td>
	<td class="row-field sexe-col"><div class="editable-field" contenteditable></div></td>
	<td class="row-field sexe-col"><div class="editable-field" contenteditable></div></td>
	<td class="row-field"><div class="editable-field" contenteditable></div></td>
</tr>

<tr class="">
	<td class="row-field"><div class="editable-field" >Au moins 2 000 personnes locales/parties prenantes ont une capacité accrue pour renforcer la protection des enfants mécanismes, politiques et la législation.</div></td>
	<td class="row-field"><div class="editable-field" contenteditable>Evaluation</div></td>
	<td class="row-field"><div class="editable-field" contenteditable>Evaluation</div></td>
	<td class="row-field bg-orange-ffcc"><div class="editable-field" contenteditable>Non démarrée</div></td>
	<td class="row-field"><div class="editable-field"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable>Nombre de personnes locales/ parties prenantes ayant une capacité accrue pour renforcer la protection des enfants mécanismes, politiques et la législation</div></td>
	<td class="row-field"><div class="editable-field" contenteditable></div></td>
	<td class="row-field"><div class="editable-field" contenteditable>SCI</div></td>
	<td class="row-field"><div class="editable-field" contenteditable></div></td>
	<td class="row-field"><div class="editable-field" contenteditable></div></td>
	<td class="row-field sexe-col"><div class="editable-field" contenteditable></div></td>
	<td class="row-field sexe-col"><div class="editable-field" contenteditable></div></td>
	<td class="row-field"><div class="editable-field" contenteditable></div></td>
</tr>