<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<tr class="">
	<td class="col-title" rowspan="15"><div>Résultats attendus</div></td> 
	<td class="row-field" rowspan="11"><div class="editable-field" contenteditable="false" >3.1.Écoles communautaires et formation professionnelle</div></td>
	<td class="row-field"><div class="editable-field" >Au moins 77 youth committee actifs au niveau des zones d'intervention</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N°38</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplisage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='running')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field"><div class="type-number-percent"><input min="0" max="100" th:value="${#numbers.formatDecimal(can38,1,2)}" disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can38} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Nombre des commités de jeunes actifs dans les villages d'intervention (au moins 1 par village)</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Liste des comité des jeunes par village</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">SCI</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can38H,0,0)} + ${#numbers.formatDecimal(can38F,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can38H,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can38F,0,0)}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>

<tr class="">
	<td class="row-field"><div class="editable-field" >Au moins 2 460 jeunes ont terminé leur formation sur les techniques et métiers</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N°39</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input min="0" max="100" th:value="${#numbers.formatDecimal(can39,1,2)}" disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can39} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Nombre de jeunes ayant terminé leur formation sur les techniques/métier</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Liste complète des jeunes ayant terminé la formation, BDD formation en apprentissage, BDD MFR</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">SCI, Symrise, MFR</div></td>
	<td class="row-field" rowspan="9"><div class="editable-field" contenteditable="false">Les jeunes formés développent une certaine autonomie et apportent des valeurs ajoutées à la communauté et à la filière.</div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can39H,0,0)} + ${#numbers.formatDecimal(can39F,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can39H,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can39F,0,0)}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>

<tr class="">
	<td class="row-field"><div class="editable-field" >Au moins 800 jeunes (18 à 24 ans) sont formés, accompagnés et démarrent une unité d’élevage en adoptant les bonnes pratiques appropriées</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N°40</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input min="0" max="100" th:value="${#numbers.formatDecimal(can40,1,2)}" disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can40} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can40H,0,0)} + ${#numbers.formatDecimal(can40F,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can40H,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can40F,0,0)}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>

<tr class="">
	<td class="row-field"><div class="editable-field" >Nombre d'élèves inscrits dans les MFR</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N°41</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='running')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input min="0" max="100" th:value="${#numbers.formatDecimal(can41,1,2)}" disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can41} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Nombre d'élèves inscrits dans les MFR</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Liste complète des jeunes inscrits dans les MFR Andapa, Sambava, Antalaha</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">MFR</div></td>
	
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can41H,0,0)} + ${#numbers.formatDecimal(can41F,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can41H,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can41F,0,0)}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>

<tr class="">
	<td class="row-field"><div class="editable-field" >Au moins 600 jeunes jeunes formés des MFR bénéficient d'un accompagnement à leur sortie.</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N°42</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='running')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input min="0" max="100" th:value="${#numbers.formatDecimal(can42,1,2)}" disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can42} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Nombre de jeunes sortants des MFRs mettant en œuvre leur projet</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Liste complète des jeunes sortants ayant débuté leur projet agricole, suivi post-</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">MFR</div></td>
	
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can42H,0,0)} + ${#numbers.formatDecimal(can42F,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can42H,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can42F,0,0)}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>

<tr class="">
	<td class="row-field"><div class="editable-field" >La fédération régionale MFR est légalisée et animée par un plan stratégique.</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N°43</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='running')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input min="0" max="100" th:value="${#numbers.formatDecimal(can43,1,2)}" disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can43} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">La fédération régionale MFR est établie et opérationnelle.</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Rapport d'intervention MFR et document cadre de la fédération régionale MFR établie</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">MFR</div></td>
	
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can43H,0,0)} + ${#numbers.formatDecimal(can43F,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can43H,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can43F,0,0)}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>

<tr class="">
	<td class="row-field"><div class="editable-field" >La fédération dispose une capacité technique en « ingénierie de formation »</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N°44</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input min="0" max="100" th:value="${#numbers.formatDecimal(can44,1,2)}" disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can44} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Une capacité technique en "ingénieurie de formation" est disponible dans l'équipe de la fédération </div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">BDD équipe technique de la MFR</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">MFR</div></td>
	
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can44H,0,0)} + ${#numbers.formatDecimal(can44F,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can44H,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can44F,0,0)}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>

<tr class="">
	<td class="row-field"><div class="editable-field" >05 AGR  sont développées dans les MFR SAVA</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N°45</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input min="0" max="100" th:value="${#numbers.formatDecimal(can45,1,2)}" disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can45} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Nombre d'AGRs développées dans les MFR SAVA</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">MFR</div></td>
	
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can45H,0,0)} + ${#numbers.formatDecimal(can45F,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can45H,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can45F,0,0)}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>

<tr class="">
	<td class="row-field"><div class="editable-field" >La part des familles  augmente de 25 % dans le budget de chaque MFR</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Evaluation</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Evaluation</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Augmentation de 25% du budget des MFR de la part des familles des étudiants</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">MFR</div></td>
	
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>

<tr class="">
	<td class="row-field"><div class="editable-field" >Au moins 3 850 jeunes ont complété les parcours/la formation pathway</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N°46</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input min="0" max="100" th:value="${#numbers.formatDecimal(can46,1,2)}" disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can46} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Nombre de nouveaux jeunes ayant complété le parcours de formation pathway</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Liste complète des jeunes ayant terminé la formation, BDD formation pathway</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">SCI</div></td>
	
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can46H,0,0)} + ${#numbers.formatDecimal(can46F,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can46H,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can46F,0,0)}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>

<tr class="">
	<td class="row-field"><div class="editable-field" >77 projets FRAM EPP subventionnés annuellement</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N°47</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='running')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input min="0" max="100" th:value="${#numbers.formatDecimal(can47,1,2)}" disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can47} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Nombre d'EPP dont les projets des FRAM a été validé et mis en œuvre</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">BDD EPP subventionnés et suivi de mise en œuvre des projets</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">SYMRISE</div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can47H,0,0)} + ${#numbers.formatDecimal(can47F,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can47H,0,0)}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${#numbers.formatDecimal(can47F,0,0)}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>