/*ROBOTO FONT*/

@font-face
{
    font-family: 'Roboto';
    src: local('?'),
        url('./fonts/Roboto-Light-webfont.woff') format('woff'),
        url('./fonts/Roboto-Light-webfont.ttf') format('truetype'),
        url('./fonts/Roboto-Light-webfont.svg#Roboto-Light-webfont') format('svg');
    font-weight: 200;
    font-style: normal;
}




/* BARLOW FONT */


@font-face
{
    font-family: 'Barlow';
    src: local('?'),
        url('./fonts/Barlow-SemiBold-webfont.woff') format('woff'),
        url('./fonts/Barlow-SemiBold-webfont.ttf') format('truetype'),
        url('./fonts/Barlow-SemiBold-webfont.svg#Barlow-SemiBold-webfont') format('svg');
    font-weight: 500;
    font-style: normal;
}