/* tracker - table */
.table-tracker-container {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #f5f5f5;
    padding: 20px;
    overflow: auto;
    /* clear: both; */
}

.d-table-tracker {
    width: auto;
    background-color: #f5f5f5;
    margin: auto;
}
.d-table-tracker, .d-table-tracker th, .d-table-tracker td {
    vertical-align: middle;
    border-collapse: collapse;
    padding: 0;
}
.d-table-tracker td {
    height: 1px;    
    min-width: 120px;
}
.d-table-tracker tr {
    border-bottom: 1px solid #aaa;
}
.col-title, .d-table-tracker .col-title {
    padding: 10px 15px;
    width: 110px;
    min-width: 90px;
    height: 60px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.05) ;
    border-right: 1px solid #aaa;
}
.row-dnd td {
    height: 60px; 
    box-sizing: border-box;
    border: none;
    border-right: 1px solid #ccc;
}
.row-dnd .col-dnd {
    width:100px;
    height: 1px;
    min-height: 50px;
    position: relative;
}
.dnd-field{
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    z-index: 1;
}
.dnd-field > div {
    height: 100%;
    width: auto;
    margin: auto;
    max-width: 100px;
    padding: 5px 25px;
    box-sizing: border-box;
}
.draggable-circ {
    width: 50px;
    height: 50px;
    cursor: grab;
    opacity: 1;
    /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsSAAALEgHS3X78AAACAElEQVRoge2az5GCMBTGP2lgtwMtwRkKUCtY92CuUoIlWIJ2gNdckApW7jKzJWgHawXuhHkgAoGACon6m+GkkO8jL//eo3c+n3ErjIVjAPE1ANCXPPII4ABgJy7O7d2tbTc2QKIdAFMAHw3bPwHYAnCbmqltgIQvAYyaNFhCIJ5b14iyAcZCERorAF/31Z3DB7Dg3D6o/FnJAGOhCBP3hlCpiwgth3N7W3WfpSBevHWvRfGgtjxqu5TSHmAsFG993pZqCRvObUf2o7QHNBEvmJOWQgoNUNfpID5mLgunXAjRgPVaFFeH7+zAvjJAU+VvywO2DmJ2Gqan2GwIrTQWD9J2FUpJD9AK+9OVsppM4hU73QNLE5QTidbIAL39e+9tHsmINCc9IF0oNMZJG5gaaCDS3JvN9iYN3iwTi05RpjJ+CgMDDYQ0ZWCVHMBNoF95oNGdt4GueRvoGovSfaZytChXaSoHixKtprIz3kB0pGQs/NP8LFzEiXP7M56FKnOQGhJpjg1IM18a4yYG6IQfGCQ+eK6sBC694HcmSR0/XcXJbiUWlL7TlRNpRKEByjnqnGJxsqWn3GaOsr/rVmWpsS4qOUkrNBoVOFBWpZFup+mGzUNlqdGsxISLiS7DaV0mHi9RZsVlYA9bWid8qsIo7c9e51ODLMZ+7FFEZ5/bAPgHzaXXZmjqxDEAAAAASUVORK5CYII='); */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAA8FBMVEUAAACAgIBmZmaAgIBtbW1xcXF5eXl0dHR6enp1dXV6enp7e3t2dnZ4eHh1dXV5eXl2dnZ5eXl2dnZ2dnZ4eHh4eHh3d3d4eHh4eHh3d3d4eHh4eHh4eHh3d3d4eHh2dnZ3d3d2dnZ3d3d2dnZ3d3d4eHh3d3d4eHh3d3d4eHh2dnZ3d3d3d3d3d3d3d3d4eHh3d3d2dnZ3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3f///9VrZM3AAAATnRSTlMABAUGBxITFhcYGRscJCUmJyhOUFFTVldZWmBkZmdoamtsbW5vc3R3eICMjY6PkJG2t7nHyMnKy83Oz9DY29zd6+3u8fLz9PX4+fr7/P5cmvNJAAABQklEQVR42q3WU5YEQRBA0Zi2bdu2bcT+lzNtFjLq9Pu/xRT8JK23XBvOdrvZsFb2aEE0VbyNb7ViKkFgKK3xq1VRzwtkiSVyts4quIWlj7z1zFzCuUSBFo5v4dujYIfQpwiiaLGPpzqIk4P9VRjnyNDS+hTyPjLVlT1IBhlL3YV+xUqWuhspIXN5uKRas5OV6kLiSChyIW0KacIp3ZFCjpoT8SIp94mUaaR4IjUaqZzImEaGJzKlkcmJbGlkI4FIe7AR9fXpH1nar/TQiOtENPRhCS0KqcO5GIWEL0S1Ik9kKLKTHHlRWmjhVpqVJOGerMsmOjLyMm6Blxwsm4UN3gqIiqOfvPEF4Sv7QkjMbcCRqcsvOkbg7C+x4DsqyIEvXWH1DVZ5LQilijaO+NKxHlGCaGp3sTqYbrfTQbXoVsMv+geHGyUtlmU85wAAAABJRU5ErkJggg==);
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
    /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
    transition: all 0.15s ease;
}
.draggable-circ:active, .draggable-circ:focus {
    opacity: 0.8;
    /* box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.5);             */
}

.ontrack-line {
    height: 6px;
    width: 100%;
    background-color: #00bbff;
}

.d-table-tracker textarea, .d-table-tracker .editable-field {
    /* display: flex;
    justify-content: center;
    align-items: center;
    resize: none;
    height: 100%;    
     */
    /* min-height: 60px; */
    /* max-height: 200px; */
    max-width: 200px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    
    white-space: pre-line;
    padding: 10px;
    text-align: center;
    border: 0;
    /* overflow-y: auto; */
    
    width: 100%;
    outline: none;
    background-color: transparent;
}
.d-table-tracker textarea:focus, .d-table-tracker .editable-field:focus {
    background-color: #ffffff;
    outline: #666 inset 2px  ;
    box-sizing: border-box;
    
    
}


/* indicator */
.table-tracker-container.indicator {
    display: inline-block;
    width: auto;
    margin-top: 20px;
    max-width: 94vw;
    max-height: calc(100vh - 230px);
    min-height: 300px;
    overflow-y: scroll;
    
    padding: 0;
}
.table-tracker-container.indicator table {
    margin: auto;
}
.d-table-tracker.indicator-table .header-row-collapsed{
    top: 47px;
}
.d-table-tracker.indicator-table th {
    background-color: #c80f08;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 0px 1px#960f0a;
    position: sticky;
    top: 0;
    z-index: 1;
}
.d-table-tracker.indicator-table th div {
    margin: auto;
}
.d-table-tracker.indicator-table td {
    border: 1px solid #ccc;
    font-size: 12px;
}
.d-table-tracker.indicator-table .col-title {
    min-width: 60px;
}
.d-table-tracker.indicator-table .col-title div {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    font-weight: bold;
}
.sexe-col, .d-table-tracker.indicator-table .sexe-col {
    min-width: 40px;
}
/**/
.btn-export-screenshot {
    display: inline-block;
    /* width: 100px; */
    /* padding: 16px 5px; */
    text-align: center;
	/* border: 1px solid #fff; */
    margin:0 20px;
    vertical-align: top;
    background-color:#c80f08;
    color: #fff;
}


.bg-red-99 {
    background-color: #ee999988;
}
.bg-green-aa {
    background-color: #aaeeaa88;
}
.bg-blue-aa {
    background-color: #aaaaee88;
}
.bg-blue-cc {
    background-color: #ccccee88;
}
.bg-orange-cc {
    background-color: #cccc3388;
}

.bg-orange-ffcc {
    background-color: #ffcc66;
}