
<!DOCTYPE html>
<html>
<head>
	<title>GIZ</title>
	<link rel="icon" type="image/png" href="css/images/icons/favicon.png"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  
	  <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
	 <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
	  <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	 <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/fonts.css}">
    <link rel="stylesheet"  type="text/css" th:href="@{/css/giz.css}" />

</head>
<body>
<div th:include="/pds_header.html"></div>

	 <section class="main">
        <div class="home-content" >
            <h2 class="content-title" style='font-family: 'Barlow', Arial, Helvetica, sans-serif !important;'>Bienvenue</h2>
            
            <div>
            <p> Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Integer molestie nunc enim, 
                    aliquam libero, amet gravida nisi. Mattis nisl 
                    consequat lectus in urna tincidunt congue. Semper 
                    volutpat sed dolor in aenean cras tellus pulvinar 
                    vitae. Phasellus posuere facilisi nunc purus in arcu 
                    tincidunt commodo. Sit felis amet in viverra hac velit.
                    Congue mollis porta ullamcorper et fusce pellentesque 
                    non.</p>
                    <p> Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Integer molestie nunc enim, 
                    aliquam libero, amet gravida nisi. Mattis nisl 
                    consequat lectus in urna tincidunt congue. Semper 
                    volutpat sed dolor in aenean cras tellus pulvinar 
                    vitae. Phasellus posuere facilisi nunc purus in arcu 
                    tincidunt commodo. Sit felis amet in viverra hac velit.
                    Congue mollis porta ullamcorper et fusce pellentesque 
                    non.Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Integer molestie nunc enim, 
                    aliquam libero, amet gravida nisi. Mattis nisl 
                    consequat lectus in urna tincidunt congue. Semper 
                    volutpat sed dolor in aenean cras tellus pulvinar 
                    vitae. Phasellus posuere facilisi nunc purus in arcu 
                    tincidunt commodo. Sit felis amet in viverra hac velit.
                    Congue mollis porta ullamcorper et fusce pellentesque 
                    non.Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Integer molestie nunc enim, 
                    aliquam libero, amet gravida nisi. Mattis nisl 
                    consequat lectus in urna tincidunt congue. Semper 
                    volutpat sed dolor in aenean cras tellus pulvinar 
                    vitae. Phasellus posuere facilisi nunc purus in arcu 
                    tincidunt commodo. Sit felis amet in viverra hac velit.
                    Congue mollis porta ullamcorper et fusce pellentesque 
                    non.</p>
            </div>
            
            <div class="welcome"></div>
        </div>
    </section>
    
    
    <script th:src="@{/css/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/css/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/css/vendor/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>