
<!DOCTYPE html>
<html>
<head>
<title>GIZ</title>
<link rel="icon" type="image/png" href="css/images/icons/favicon.png" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--JQUERY-->
<!-- <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
	
	<script th:src="@{/css/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/css/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/css/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/css/vendor/bootstrap/css/bootstrap.min.css}">

<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/fonts.css}">
 <link rel="stylesheet"  type="text/css" th:href="@{/css/giz.css}" />
 
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->

</head>
<body>
	<div th:include="/pds_header.html"></div>
	
	<section class="main">
		<div class="base-content">
		<span class="span-user" th:object="${nomUser}"> <span
			class="span-user" th:text="${nomUser}" id="lastUser"> <span
				th:text="${nomUser.username}"></span>
		</span> <br>
			<form method="POST" name="theForm">
				<table>
					<tr>
						<td style="width: 100px; padding-left: 8px;">Work Package</td>
						<td style="width: 150px; padding-left: 8px;">Canevas</td>
					</tr>
					<tr>
						<td style="width: 100px; padding-left: 8px;">
							<select th:name="sc" class="ginput form-control" id="sc">
								<option value="null">-- <span>[[#{selectionner}]] Work Package</span> --</option>
								<option th:each="sc : ${scList}" th:value="${sc[0]}" th:text="${sc[1]}"></option>
							</select>
						</td>
						<td style="width: 150px; padding-left: 8px;">
							<select
								onchange="this.options[this.selectedIndex].value"
								class="ginput form-control" th:name="theme" id="theme">
							</select>
						</td>
					</tr>
				</table>
				<br>
				<table style="width: '100%'">
					<tr>
						<td style="width: 200px; padding-left: 8px;">Donnée arrêtée</td>
						<td style="width: 200px; padding-left: 8px;">Subdivision</td>
						<td style="width: 200px; padding-left: 8px;"></td>
						<td style="width: 8%;"></td>
						<td style="width: 150px; padding-left: 8px;"></td>
						<td style="width: 150px; padding-left: 8px;"></td>
						<td style="width: 150px; padding-left: 8px;"></td>
					</tr>
					<tr>						
						<td style="width: 200px; padding-left: 8px;">
							<select th:name="date_fin" class="form-control select2">
									<option value="2020-08-01">Août-20</option>
									<option value="2020-11-01">Nov-20</option>
									<option value="2021-02-01">Févr-21</option>
									<option value="2021-05-01">Mai-21</option>
									<option value="2021-08-01">Août-21</option>
									<option value="2021-11-01">Nov-21</option>
									<option value="2022-02-01">Févr-22</option>
									<option value="2022-05-01">Mai-22</option>
									<option value="2022-08-01">Août-22</option>
									<option value="2022-11-01">Nov-22</option>
									<option value="2022-02-01">Févr-23</option>
									<option value="2023-05-01">Mai-23</option>
									<option value="2023-08-01">Août-23</option>
									<option value="2023-11-01">Nov-23</option>
							</select>
						</td>
						<td style="width: 200px; padding-left: 8px;">
							<select th:name="subdivision" class="form-control select2">
								<option value="district">Districts</option>
								<option value="commune">Communes</option>
								<option value="village">Villages</option>
							</select>
						</td>
						<td style="width: 200px; padding-left: 8px;">
							
						</td>
						<td style="width: auto;"></td>
						<td style="width: 150px; padding-left: 8px;"><input class="form-control"
							type="submit" th:value="#{tableau}" onClick="submitFunction(3)"></td>
						<td style="width: 150px; padding-left: 8px;"><input class="form-control"
							type="submit" th:value="#{carte}" onClick="submitFunction(1)"></td>
						<td style="width: 150px; padding-left: 8px;"><input class="form-control"
							type="submit" th:value="#{graphe}" onClick="submitFunction(2)"></td>
					</tr>
				</table>
			</form> <br>
		<!-- <img style='width: 1900px; height: 800px;'
				th:src=@{/css/images/dashboard.jpg}> -->
		
			<div class="welcome-img">
				<img alt="" th:src="@{/img/bg-login5.jpg}">
			</div>
		</div>
	</section>	
		
	
	<SCRIPT>
		function submitFunction(i) {
			if (i == 1)
				document.theForm.action = "/Giz/carte";
			if (i == 2)
				document.theForm.action = "/Giz/graphe";
			if (i == 3)
				document.theForm.action = "/Giz/tableau";
		}
	</SCRIPT>
	 <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{js/ajaxAnalyse.js}"></script>
</body>
</html>