<div class="registerFile">
	<form method="POST" th:action="@{/registerFile}"
		name="uploadForm" class="requete-form gform">
		<div class="cust-input" style="margin-left: 0px !important;">
			<p>Work Package</p>
			<select th:name="sc" class="ginput form-control" id="sc">
				<option value="null">-- <span>Sélectionner Work Package</span> --</option>
				<option th:each="sc : ${scList}" th:value="${sc[0]}" th:text="${sc[1]}"></option>
			</select>
		</div>
		<div class="cust-input">
			<p>Canevas</p>
			<div class="input-group date">
				<select
					onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
					class="ginput form-control" th:name="theme" id="theme">
				</select>
			</div>
		</div>
	</form>
</div>