<div class="registerFile container">
	<form method="POST" th:action="@{/registerFile}" name="uploadForm" class="requete-form gform">
		<div class="row justify-content-center">
			<div class="col-4">
				<p class="label-form">Work Package</p>
				<select th:name="sc" class="ginput form-control" id="sc" style="width: 100%;">
					<option value="null">-- <span>[[#{selectionner}]] Work Package</span> --</option>
					<option th:each="sc : ${scList}" th:value="${sc[0]}" th:text="${sc[1]}"></option>
				</select>
			</div>
			<div class="col-4">
				<p class="label-form">Canevas</p>
				<div class="input-group date">
					<select
						style="width: 100%;"
						onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
						class="ginput form-control" th:name="theme" id="theme">
					</select>
				</div>
			</div>
		</div>
	</form>
</div>