<div class="registerFile">
	<form method="POST" th:action="@{/registerFile}"
		name="uploadForm" class="requete-form gform"
		style="margin-top: -310px !important; margin-left: -150px !important; width: 1410px !important; min-height: 0 !important;">
		<label class="cust-input" style="margin-left: 0px !important;">
			<p>Work Package</p> <select th:name="sc"
			class="ginput form-control" id="sc"
			style="margin-top: 10px !important; width: 530px !important;">
				<option value="null">-- <span>Sélectionner Work Package</span> --</option>
				<option th:each="sc : ${scList}" th:value="${sc[0]}"
					th:text="${sc[1]}"></option>
		</select>
		</label> <label class="cust-input"
			style="margin-right: -390px !important; margin-top: -73px !important;">
			<p>Canevas</p>
			<div class="input-group date"
				style="margin-top: 10px !important;">
				<select
					onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"
					class="ginput form-control" th:name="theme" id="theme">
				</select>
			</div>
		</label>
	</form>
</div>