
<!DOCTYPE html>
<html>
<head>
	<title>GIZ</title>
	<link rel="icon" type="image/png" href="img/favicon.png"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<script th:src="@{/extjs-3.3.1-src/adapter/ext/ext-base.js}" type="text/javascript"></script>
	<script th:src="@{/extjs-3.3.1-src/ext-all.js}" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/extjs-3.3.1-src/docs/resources/css/ext-all.css}"></link>
	<script th:src="@{/openlayers/OpenLayers.js}" type="text/javascript"></script>
	<script th:src="@{/GeoExt/lib/GeoExt.js}" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/GeoExt/resources/css/geoext-all-debug.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/GeoExt/resources/css/popup.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/css/vendor/bootstrap/css/bootstrap.min.css}"></link>	
		<link rel="stylesheet" type="text/css" th:href="@{/extjs-3.3.1-src/docs/resources/css/fonts.css}"></link>	
	<link rel="stylesheet" type="text/css" th:href="@{/extjs-3.3.1-src/docs/resources/css/pds.css}"></link>
	<script type="text/javascript" th:src="@{/css/js/vanilla-picker.js?123456}"></script>
	    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/fonts.css}">
	<script src="https://unpkg.com/vanilla-picker@2.5"></script>
	<script type="module" th:src="@{/js/carte.js}"></script>
	<script src="http://168.119.185.165:8080/geoserver/pdf/info.json?var=printCapabilities"></script>

	<link rel="stylesheet" type="text/css" th:href="@{css/index.css}">
	<link rel="stylesheet" type="text/css" th:href="@{css/fonts.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/giz.css}" />
</head>
<body>

<div th:include="/pds_header.html"></div>

<span class="span-user" th:object="${nomUser}"> </span>
<span class="span-user" th:text="${nomUser}" id="lastUser">  
	<span th:text="${nomUser.username}"></span>
</span>




<script th:src="@{/css/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/css/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/css/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    var number = [[${notif}]];
    var users = [[${type}]];
    var date_debut = [[${date_debut}]];
    var date_fin = [[${date_fin}]];
    var subdivision = [[${subdivision}]];
    var type_atelier = [[${type_atelier}]];
    var theme = [[${theme}]];
    console.log("thme",theme);
    console.log("subdivision",subdivision);
    console.log("type_atelier",type_atelier);
</script>
<script type="text/javascript">

	// Module print geoserver export pdf
	var printProvider = new GeoExt.data.PrintProvider({
		url: "http://168.119.185.165:8080/geoserver/pdf",
		method: "GET",
		capabilities: printCapabilities,
		customParams: {
			mapTitle: "",
			projection: new OpenLayers.Projection("EPSG:3857"),
			comment: ""
		}
	});

	var printExtent = new GeoExt.plugins.PrintExtent({
		printProvider: printProvider
	});
	// Fin module print export pdf

</script>
</body>
</html>