
<!DOCTYPE html>
<html>
<head>
	<title>GIZ</title>
	<link rel="icon" type="image/png" href="css/images/icons/favicon.png"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  
	  <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
	 <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
	  <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	 <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}">
	<link rel="stylesheet" type="text/css" th:href="@{css/fonts.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/giz.css}" />
    <script th:src="@{/css/js/canvasjs.min.js}"></script>
		<!-- scripts -->
	<style>
        .arc text {
            font: 10px sans-serif;
            text-anchor: middle;
        }

        .arc path {
            stroke: #fff;
        }

        .title {
            fill: teal;
            font-weight: bold;
        }
    </style>
</head>
<body>
	<div th:include="/pds_header.html"></div>
	<section class="main">
		<div class="base-content">
			<span class="span-user" th:object="${nomUser}"></span>
			<span class="span-user" th:text="${nomUser}" id="lastUser">
				<span th:text="${nomUser.username}"></span>
			</span>
			<br>
			<table border="1">
				<tr>
					<td width="950px">
						<div id="chart_crosshair" style="height: 370px; max-width: 820px; margin: 0px auto;"></div>
					</td>
					<td width="950px">
						<div id="chart_animated" style="height: 370px; max-width: 820px; margin: 0px auto;"></div>
					</td>
				</tr>
			</table>
		</div>
	</section>


<script th:src="@{/css/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/css/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/css/vendor/bootstrap/js/bootstrap.min.js}"></script>
<SCRIPT>
	function submitFunction(i) {
		if (i==1) document.theForm.action=
			"/Giz/carte";
		if (i==2) document.theForm.action=
			"/Giz/graphe";
		if (i==3) document.theForm.action=
			"http://www.company.com/cgi-bin/cgi3.cgi";
		document.theForm.submit()
   }
   
</SCRIPT>
<script th:inline="javascript">
    // write code here
    var crosshair = [[${crosshair}]];
    var crossObj = [];
    var tpsObj = [];
    var tps = [[${tps}]];
    var tot = [[${tot}]];
    var nameCanevas = [[${nameCanevas}]];
    var camembertTot = [[${camembertTot}]];
    console.log("tps",tps);
    crosshair.forEach(e=>
    {
    	crossObj.push(Object.assign({}, {district: e[0], y: ((e[1]/camembertTot)*100).toFixed(2) }));
       // e.y=((e.y/tot)*100).toFixed(2);
    });
  /*  tps.forEach(e=> {
    	e.y=parseFloat(((e.y/tot)*100).toFixed(2));	
    	e.x= new Date(e.x);
    });*/
    tps.forEach(e=> {
    	e[0]= new Date(e[0]);
    	e.x= new Date(e.x);
    	tpsObj.push(Object.assign({}, {x: e[0], y: parseFloat(((e[1]/tot)*100).toFixed(2)) }));
    });
    
</script>
<script>

window.onload = function () {
var chart_crosshair = new CanvasJS.Chart("chart_crosshair", {
	animationEnabled: true,
	title:{
		text: "Porcentage " + nameCanevas
	},
	axisX:{
		valueFormatString: "DD MMM",
		crosshair: {
			enabled: true,
			snapToDataPoint: true
		}
	},
	axisY: {
		title: "% de " + nameCanevas,
		includeZero: false,
		valueFormatString: "##0.00",
		crosshair: {
			enabled: true,
			snapToDataPoint: true,
			labelFormatter: function(e) {
				return "%" + CanvasJS.formatNumber(e.value, "##0.00");
			}
		}
	},
	data: [{
		type: "area",
		xValueFormatString: "DD MMM",
		yValueFormatString: "##0.00",
		dataPoints: tpsObj
	}]
});

var chart_animated = new CanvasJS.Chart("chart_animated", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Nombre de " + nameCanevas + " par district"
	},
	data: [{
		type: "pie",
		startAngle: 25,
		toolTipContent: "<b>{district}</b>: {y}%",
		showInLegend: "true",
		legendText: "{district}",
		indexLabelFontSize: 16,
		indexLabel: "{district} - {y}%",
		dataPoints: crossObj
	}]
});
chart_crosshair.render();
chart_animated.render();


}
</script>
</body>
</html>