Work package : 
<select id="dynamic_select" class="ginput form-control trakcer-select-menu" name="choix" >
  <option value="" selected>[[#{selectionner}]]</option>
  <option value="indicateurWP1">WP1</option>
  <option value="indicateurWP2Liste">WP2</option>
  <option value="indicateurWP3">WP3</option>
  <option value="indicateurWP4">WP4</option>
</select>

<select class="ginput form-control trakcer-select-menu" id="chronologie" name="chronologie"  >
  <option value="" selected>[[#{selectionner}]]</option>
  <option value="31/08/2020">Août 2020</option>
  <option value="30/11/2020">Novembre 2020</option>
  <option value="28/02/2021">Févier 2021</option>
  <option value="31/05/2021">Mai 2021</option>
  <option value="31/08/2021">Août 2021</option>
  <option value="30/11/2021">Novembre 2021</option>
  <option value="28/02/2022">Févier 2022</option>
  <option value="31/05/2022">Mai 2022</option>
  <option value="31/08/2022">Août 2022</option>
  <option value="30/11/2022">Novembre 2022</option>
  <option value="28/02/2023">Févier 2023</option>
  <option value="31/05/2023">Mai 2023</option>
  <option value="31/08/2023">Août 2023</option>
  <option value="30/11/2023">Novembre 2023</option>
  <option value="31/01/2024">Janvier 2024</option>
</select>
 <button type="button" name="btnExport" id="btnExport" class="gbtn">[[#{exporter}]]</button>
 <button type="button" name="btnEditableToggle" id="btnEditableToggle" class="gbtn">Modifier</button> 
<script>
  $(function(){   
      $('#chronologie').on('change', function () {
    	  var e = document.getElementById("dynamic_select");
    	  var strWP = e.value;
          var dateChronologie = $(this).val(); // get selected value
          if (dateChronologie) { // require a URL
              window.location = strWP + "?chronologie="+dateChronologie; // redirect
              $('#chronologie').show();
          }
          return false;
      });    
      
      $("#btnExport").click(function(e) {
        let file = new Blob([$('#html-content-holder').html()], {type:"application/vnd.ms-excel"});
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
        href: url,
        download: "filename.xls"}).appendTo("body").get(0).click();
        e.preventDefault();
      });

      $("#btnEditableToggle").click(function(event) {
        let allEditable = $(".editable-field")        

        if(!$(this).hasClass("active")) {
          $(this).text("Terminer")
          allEditable.each(function(index, elemEditable) {
            let childProgress = $(elemEditable).find(".type-number-percent") ? $(elemEditable).find(".type-number-percent").length : 0
            let isParentTh = $(elemEditable).parent().prop("tagName") == "TH"
            let childSelect = $(elemEditable).find(".level-state-select") ? $(elemEditable).find(".level-state-select") : null
           
            if(childProgress < 1 && childSelect && childSelect.length < 1 && !isParentTh && !$(elemEditable).hasClass("disable-edition") )
              $(elemEditable).attr('contenteditable','true');

            if(childSelect && childSelect.length > 0)
              $(childSelect).removeAttr('disabled');
             
            
          })
          
        }
        else {
          $(this).text("Modifier")
          allEditable.each(function(index, elemEditable) {
            let childProgress = $(elemEditable).find(".type-number-percent") ? $(elemEditable).find(".type-number-percent").length : 0
            let isParentTh = $(elemEditable).parent().prop("tagName") == "TH"
            let childSelect = $(elemEditable).find(".level-state-select") ? $(elemEditable).find(".level-state-select") : null

            if(childProgress < 1 && childSelect && childSelect.length < 1 && !isParentTh && !$(elemEditable).hasClass("disable-edition") )
              $(elemEditable).attr('contenteditable','false');

            if(childSelect && childSelect.length > 0)
              $(childSelect).attr('disabled','');            
          })
        }
        $(this).toggleClass('active')
      });
    
      function stateColorHandle(elem) {
        let parentTd = $(elem).closest('td.row-field')
        let value = $(elem).val()

        console.log("CHANGE", [parentTd, value])
        if(parentTd) {
          switch (value) {
            case levelStates.reported.value :
              parentTd.addClass(levelStates.reported.color)
              parentTd.removeClass(levelStates.stopped.color)
              parentTd.removeClass(levelStates.running.color)
              break;

            case levelStates.stopped.value :
              parentTd.removeClass(levelStates.reported.color)
              parentTd.addClass(levelStates.stopped.color)
              parentTd.removeClass(levelStates.running.color)
              break;

            case levelStates.running.value :
              parentTd.removeClass(levelStates.reported.color)
              parentTd.removeClass(levelStates.stopped.color)
              parentTd.addClass(levelStates.running.color)
              break;

          }
        }
      }

      var levelStates = {
        reported : {value: 'reported', color: 'bg-orange-ffcc'},
        stopped : {value: 'stopped', color: 'bg-red-99'},
        running : {value: 'running', color: 'bg-green-aa'},
      }
      $(".level-state-select").on("change", function() {stateColorHandle($(this))} );
      
      $(".level-state-select").each(function() {
        stateColorHandle($(this))
      });
  });    
</script>