
<div th:fragment="state_selector">
  <td class="row-field">
		<div class="editable-field" contenteditable="false">
      <select class="ginput form-control trakcer-select-menu level-state-select" disabled="true" >
        <option value="reported" th:attr="selected=((${selectedOption} == 'reported') ? 'true' : 'false')">Repoussée</option>
        <option value="stopped" th:attr="selected=((${selectedOption} == 'stopped') ? 'true' : 'false')">Non démarrée</option>
        <option value="running" th:attr="selected=((${selectedOption} == 'running') ? 'true' : 'false')">En cours</option>
      </select>
		</div>
  </td> 
</div>