<!DOCTYPE html>

<head>
    <title>Template</title>
    <link rel="icon" type="image/png" href="css/images/icons/favicon.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/fonts.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/giz.css}" />
</head>

<body>
    <div th:include="/pds_header.html"></div>
    <section class="main">
        <div class="base-content">

            <div class="-container">
                <div class="text-center">
                    Work package :
                    <select id="filterText" class="ginput form-control" onchange='filterText()'>
                        <option disabled selected>Selectionner</option>
                        <option value="all">Tout</option>
                        <option value="WP1">WP1</option>
                        <option value="WP2">WP2</option>
                        <option value="WP3">WP3</option>
                        <option value="WP4">WP4</option>
                    </select>
                </div>
                <br>
                <div class="table-responsive">
                    <table id="docList" class="pds-table table table-hover table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th class="hidden">WP</th>
                                <th scope="col">Numéro du canevas</th>
                                <th scope="col">Nom du canevas</th>
                                <th scope="col" class="">Download</th>
                            </tr>
                        </thead>
                        <tbody th:include="/partial_template_list.html"></tbody>
                    </table>
                </div>
                <br>
                <button class="btn" onclick="firstPage()">|<< /button>
                        <button class="btn" onclick="previous()">
                            <</button>
                                <span id="pageInfo"></span>
                                <button class="btn" onclick="nextPage()">></button>
                                <button class="btn" onclick="lastPage()">>|</button>

            </div>

        </div>
    </section>
    <script>
        function filterText() {
            var val = $('#filterText').val();
            if (val === "")
                return;
            if (val === "all")
                clearFilter();
            else

                $('.wp').each(function () {
                    $(this).parent().toggle($(this).text() === val);
                });

        }
        function clearFilter() {
            $('.filterText').val('');
            $('.afficher').show();
        }
    </script>
</body>

</html>