<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head th:include="/headLinks.html"></head>

<body class="stories">
<div th:include="/pds_header.html"></div>
	<section class="main">
		<div class="base-content">
			<div class="crud-wrap">
				<!-- <div class="main-section" id="myTab" role="tablist"> -->
				<!-- <header></header> -->
				<!-- <section class="main"> -->
				<div class="composantesTable-content">
					<form method="POST" th:action="@{/add115}">
						<div class="card">
							
							<div th:include="canevasMenu.html" th:remove="tag"></div>
											<div class="card-body">
							<h2 class="page-title">CANEVAS DEMARRAGE UNITE ELEVAGE JEUNEE 18 A 24 ANS</h2>
							<form th:action="@{/importWp3UniteElevJeune}" method="post" class="uploadForm" enctype="multipart/form-data">
							<figure>
								<img th:src=@{/css/images/upload.svg}>
							</figure> 
								<br>
							<fieldset >
								<span class="gbtn btn-file">
								<b>[[#{import.add}]]</b>
									<input type="file" th:name="file" />
								</span>
									<input  th:type="submit" th:value="#{import.msf}" class="gbtn" />
					
								</form>
							</fieldset>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</section>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{js/ajaxCrud.js}"></script>

</body>

</html>