<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<tr class="">
	<td class="row-field" rowspan="6"><div class="editable-field" contenteditable="false" >4.1.Partage des connaissances et leçons apprises avec le secteur et les différents acteurs engagés dans la vanille</div></td>
	<td class="row-field"><div class="editable-field" >- 4 Ateliers/évenements promotionnels annuels du réseau de MFR dans la SAVA</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N° 52</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplisage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field"><div class="type-number-percent"><input type="number" min="0" max="100" th:value="${can52} >= 12 ? '100' : '0' " disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can52} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Nomrbe d'ateliers promotionnels annuels du réseau MFR dans la SAVA</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Liste des comité des jeunes par village</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">GIZ, Symrise, SCI</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can52H} + ${can52F}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can52H}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can52F}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>

<tr class="">
	<td class="row-field"><div class="editable-field" > 1 Dialogue régional sur l'accès au financement</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N° 53</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input type="number" min="0" max="100" th:value="${can53} >= 12 ? '100' : '0' " disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can53} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">SCI, Symrise, MFR</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can53H} + ${can53F}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can53H}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can53F}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>
<tr class="">
	<td class="row-field"><div class="editable-field" > 1 Dialogue régional sur l'accès au financement</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N° 53</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input type="number" min="0" max="100" th:value="${can53} >= 12 ? '100' : '0' " disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can53} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">SCI, Symrise, MFR</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can53H} + ${can53F}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can53H}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can53F}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>
<tr class="">
	<td class="row-field"><div class="editable-field" >Au moins un atelier de capitalisation et de partage des acquis du projet en matière d’élevage et de santé animale dans la région SAVA est organisé pour les partenaires et acteurs du développement</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N° 54</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input type="number" min="0" max="100" th:value="${can54} >= 1 ? '100' : '0' " disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can55} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can54H} + ${can54F}">0</div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can54H}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can54F}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>
<tr class="">
	<td class="row-field"><div class="editable-field" > 3 Ateliers/événements promotionnels de Mahavelona dans la SAVA</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N° 55</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input type="number" min="0" max="100" th:value="${can55} >= 3 ? '100' : '0' " disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can55} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Nombre d'ateliers promotionnels de Mahavelona dans la SAVA</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">GIZ</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can55H} + ${can55F}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can55H}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can55F}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>
<tr class="">
	<td class="row-field"><div class="editable-field" >  2 ateliers de partage des bonnes pratiques et des outils aux producteurs de lvanille de la SAVA (via associations, groupements, plate-forme, syndicats...)</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N° 56</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplissage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field">
		<div class="type-number-percent"><input type="number" min="0" max="100" th:value="${can56} >= 2 ? '100' : '0' " disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${can56} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Nombre d'ateliers de partage des bonnes pratiques et des outils aux producteurs de vanille de la SAVA</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">GIZ/symrise</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can56H} + ${can56F}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can56H}"></div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" th:utext="${can56F}"></div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>