<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<tr class="">
	<td class="col-title" rowspan="10"><div>Résultats attendus</div></td> 
	<td class="row-field" rowspan="1"><div class="editable-field" contenteditable="false" >4.Apprentissage du secteur</div></td>
	<td class="row-field"><div class="editable-field" >1 document de capitalisation des expériences du projet partagés aux acteurs du secteur.</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Canevas N° 51</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Remplisage obligatoire</div></td>
	<td th:include="indiSelectorState :: state_selector(selectedOption='stopped')" th:remove="tag"></td>
	<td class="row-field"><div class="editable-field"><div class="type-number-percent"><input min="0" max="100" th:value="${#numbers.formatDecimal(can51,1,0)}" disabled></div>
		<div class="progress custom-progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:'+ ${#numbers.formatDecimal(can51,1,2)} +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div></div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Nombre de thématiques partagé au niveau secteur</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Raport des sessions de partage, atelier en coopération avec PRCP, SVI</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">GIZ</div></td>
	<td class="row-field"><div class="editable-field" contenteditable="false">Les acteurs du secteur valorisent les acquis du projet pour l'amélioration de la filière sur ces thématiques.</div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false">0</div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" >0</div></td>
	<td class="row-field sexe-col"><div class="editable-field disable-edition" contenteditable="false" >0</div></td>
	<td class="row-field"><div class="editable-field disable-edition" contenteditable="false"></div></td>
</tr>



