<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tps)}">
	<thead>
		<tr>
			<th scope="col"><span>Code village</span></th>
			<th scope="col"><span>Village</span></th>
			<th scope="col"><span>Hommes</span></th>
			<th scope="col"><span>Femmes</span></th>
			<th scope="col"><span>Sous-total</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tps}">
			<td th:text="${b[0]}"></td>
			<td th:text="${b[1]}"></td>
			<td th:text="${b[2]}"></td>
			<td th:text="${b[3]}"></td>
			<td th:text="${b[2]} + ${b[3]}"></td>
		</tr>
		<tr>
			<td colspan="2"><b>Total</b></td>
			<td th:text="*{#aggregates.sum(tps.![[2]])}" /></td>
			<td th:text="*{#aggregates.sum(tps.![[3]])}" /></td>
			<td th:text="*{#aggregates.sum(tps.![[2]+[3]])}" /></td>
		</tr>

	</tbody>
</table>
<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsGenre)}">
	<thead>
		<tr>
			<th scope="col"><span>Code village</span></th>
			<th scope="col"><span>Village</span></th>
			<th scope="col"><span th:text="${tpsGenre.![[3]][0] == 'H'? 'Homme' : 'Femme'}"></span></th>
			<th scope="col"><span>Visualiser</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsGenre}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center" th:text="${b[2]}"></td>
			<td class="center">
			<form method="POST" th:action="@{/detailGenreCount}">
				<input type="hidden" th:name="village" id="village" th:value="${b[1]}"/>
				<input type="hidden" th:name="canevas" id="canevas" th:value="${b[4]}"/>
				<input type="hidden" th:name="sexe" id="sexe" th:value="${b[3]}"/>
				<button class="text-center" type="submit"><img th:src="@{/images/eye.png}" style="width: 20px;"></button>
			</form>
			</td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenre.![[2]])}"></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsGenreWP3)}">
	<thead>
		<tr>
			<th scope="col"><span>Code village</span></th>
			<th scope="col"><span>Village</span></th>
			<th scope="col"><span th:text="${tpsGenreWP3.![[3]][0] == 'H'? 'Homme' : 'Femme'}"></span></th>
			<th scope="col"><span>Visualiser</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsGenreWP3}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center" th:text="${b[2]}"></td>
			<td class="center">
			<form method="POST" th:action="@{/detailWP3}">
				<input type="hidden" th:name="village" id="village" th:value="${b[1]}"/>
				<input type="hidden" th:name="sexe" id="sexe" th:value="${b[3]}"/>
				<input type="hidden" th:name="nameCanevas" id="nameCanevas" th:value="*{nameCanevas}"/>
				<button class="text-center" type="submit"><img th:src="@{/images/eye.png}" style="width: 20px;"></button>
			</form>
			</td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenreWP3.![[2]])}"></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsGenreH)}">
	<thead>
		<tr>
			<th scope="col"><span>Village</span></th>
			<th scope="col"><span>Homme</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsGenreH}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[2]}"></td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenreH.![[2]])}"></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsGenreF)}">
	<thead>
		<tr>
			<th scope="col"><span>Village</span></th>
			<th scope="col"><span>Femme</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsGenreF}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[3]}"></td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenreF.![[3]])}"></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsGenreAll)}">
	<thead>
		<tr>
			<th scope="col"><span>Code village</span></th>
			<th scope="col"><span>Village</span></th>
			<th scope="col"><span>Homme</span></th>
			<th scope="col"><span>Femme</span></th>
			<th scope="col"><span>Sous Total</span></th>
			<th scope="col"><span>Visualiser</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsGenreAll}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center" th:text="${b[2]}"></td>
			<td class="center" th:text="${b[3]}"></td>
			<td class="center" th:text="${b[2]} + ${b[3]}"></td>
			<td class="center">
			<form method="POST" th:action="@{/detailGenreCountAll}">
				<input type="hidden" th:name="village" id="village" th:value="${b[1]}"/>
				<input type="hidden" th:name="canevas" id="canevas" th:value="${b[4]}"/>
				<button class="text-center" type="submit"><img th:src="@{/images/eye.png}" style="width: 20px;"></button>
			</form>
			</td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenreAll.![[2]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenreAll.![[3]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenreAll.![[2]+[3]])}" /></td>
		</tr>

	</tbody>
</table>
<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsGenreAllSum)}">
	<thead>
		<tr>
			<th scope="col"><span>Code village</span></th>
			<th scope="col"><span>Village</span></th>
			<th scope="col"><span>Homme</span></th>
			<th scope="col"><span>Femme</span></th>
			<th scope="col"><span>Sous Total</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsGenreAllSum}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center" th:text="${b[2]}"></td>
			<td class="center" th:text="${b[3]}"></td>
			<td class="center" th:text="${b[2]} + ${b[3]}"></td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenreAllSum.![[2]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenreAllSum.![[3]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenreAllSum.![[2]+[3]])}" /></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsGenreAllWP3)}">
	<thead>
		<tr>
			<th scope="col"><span>Code village</span></th>
			<th scope="col"><span>Village</span></th>
			<th scope="col"><span>Homme</span></th>
			<th scope="col"><span>Femme</span></th>
			<th scope="col"><span>Sous Total</span></th>
			<th scope="col"><span>Visualiser</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsGenreAllWP3}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center" th:text="${b[2]}"></td>
			<td class="center" th:text="${b[3]}"></td>
			<td class="center" th:text="${b[2]} + ${b[3]}"></td>
			<td class="center">
			<form method="POST" th:action="@{/detailWP3All}">
				<input type="hidden" th:name="village" id="village" th:value="${b[1]}"/>
				<input type="hidden" th:name="nameCanevas" id="nameCanevas" th:value="*{nameCanevas}"/>
				<button class="text-center" type="submit"><img th:src="@{/images/eye.png}" style="width: 20px;"></button>
			</form>
			</td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenreAllWP3.![[2]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenreAllWP3.![[3]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsGenreAllWP3.![[2]+[3]])}" /></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsCom)}">
	<thead>
		<tr>
			<th scope="col"><span>Communes</span></th>
			<th scope="col"><span th:text="${tpsCom.![[2]][0] == 'H'? 'Homme' : 'Femme'}"></span></th>
			<th scope="col"><span>Visualiser</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsCom}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center">
			<form method="POST" th:action="@{/detailGenreCountComm}">
				<input type="hidden" th:name="commune" id="commune" th:value="${b[0]}"/>
				<input type="hidden" th:name="sexe" id="sexe" th:value="${b[2]}"/>
				<input type="hidden" th:name="canevas" id="canevas" th:value="${b[3]}"/>
				<button class="text-center" type="submit"><img th:src="@{/images/eye.png}" style="width: 20px;"></button>
			</form>
			</td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsCom.![[1]])}" /></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsComWP3)}">
	<thead>
		<tr>
			<th scope="col"><span>Communes</span></th>
			<th scope="col"><span th:text="${tpsComWP3.![[2]][0] == 'H'? 'Homme' : 'Femme'}"></span></th>
			<th scope="col"><span>Visualiser</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsComWP3}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center">
			<form method="POST" th:action="@{/detailWP3Comm}">
				<input type="hidden" th:name="commune" id="commune" th:value="${b[0]}"/>
				<input type="hidden" th:name="sexe" id="sexe" th:value="${b[2]}"/>
				<input type="hidden" th:name="nameCanevas" id="nameCanevas" th:value="*{nameCanevas}"/>
				<button class="text-center" type="submit"><img th:src="@{/images/eye.png}" style="width: 20px;"></button>
			</form>
			</td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsComWP3.![[1]])}" /></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsComH)}">
	<thead>
		<tr>
			<th scope="col"><span>Commune</span></th>
			<th scope="col"><span>Homme</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsComH}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsComH.![[1]])}"></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsComF)}">
	<thead>
		<tr>
			<th scope="col"><span>Commune</span></th>
			<th scope="col"><span>Femme</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsComF}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[2]}"></td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsComF.![[2]])}"></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsComAll)}">
	<thead>
		<tr>
			<th scope="col"><span>Communes</span></th>
			<th scope="col"><span>Homme</span></th>
			<th scope="col"><span>Femme</span></th>
			<th scope="col"><span>Sous Total</span></th>
			<th scope="col"><span>Visualiser</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsComAll}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center" th:text="${b[2]}"></td>
			<td class="center" th:text="${b[1]} + ${b[2]}"></td>
			<td class="center">
			<form method="POST" th:action="@{/detailGenreCountAllComm}">
				<input type="hidden" th:name="commune" id="commune" th:value="${b[0]}"/>
				<input type="hidden" th:name="canevas" id="canevas" th:value="${b[3]}"/>
				<button class="text-center" type="submit"><img th:src="@{/images/eye.png}" style="width: 20px;"></button>
			</form>
			</td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsComAll.![[1]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsComAll.![[2]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsComAll.![[1]+[2]])}" /></td>
		</tr>

	</tbody>
</table>
<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsComAllSum)}">
	<thead>
		<tr>
			<th scope="col"><span>Communes</span></th>
			<th scope="col"><span>Homme</span></th>
			<th scope="col"><span>Femme</span></th>
			<th scope="col"><span>Sous Total</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsComAllSum}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center" th:text="${b[2]}"></td>
			<td class="center" th:text="${b[1]} + ${b[2]}"></td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsComAllSum.![[1]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsComAllSum.![[2]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsComAllSum.![[1]+[2]])}" /></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsComAllWP3)}">
	<thead>
		<tr>
			<th scope="col"><span>Communes</span></th>
			<th scope="col"><span>Homme</span></th>
			<th scope="col"><span>Femme</span></th>
			<th scope="col"><span>Sous Total</span></th>
			<th scope="col"><span>Visualiser</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsComAllWP3}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center" th:text="${b[2]}"></td>
			<td class="center" th:text="${b[1]} + ${b[2]}"></td>
			<td class="center">
			<form method="POST" th:action="@{/detailWP3AllComm}">
				<input type="hidden" th:name="commune" id="commune" th:value="${b[0]}"/>
				<input type="hidden" th:name="nameCanevas" id="nameCanevas" th:value="*{nameCanevas}"/>
				<button class="text-center" type="submit"><img th:src="@{/images/eye.png}" style="width: 20px;"></button>
			</form>
			</td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsComAllWP3.![[1]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsComAllWP3.![[2]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsComAllWP3.![[1]+[2]])}" /></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsDist)}">
	<thead>
		<tr>
			<th scope="col"><span>District</span></th>
			<th scope="col"><span th:text="${tpsDist.![[2]][0] == 'H'? 'Homme' : 'Femme'}"></span></th>
			<th scope="col"><span>Visualiser</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsDist}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center">
			<form method="POST" th:action="@{/detailGenreCountDist}">
				<input type="hidden" th:name="district" id="district" th:value="${b[0]}"/>
				<input type="hidden" th:name="sexe" id="sexe" th:value="${b[2]}"/>
				<input type="hidden" th:name="canevas" id="canevas" th:value="${b[3]}"/>
				<button class="text-center" type="submit"><img th:src="@{/images/eye.png}" style="width: 20px;"></button>
			</form>
			</td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDist.![[1]])}"></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsDistWP3)}">
	<thead>
		<tr>
			<th scope="col"><span>District</span></th>
			<th scope="col"><span th:text="${tpsDistWP3.![[2]][0] == 'H'? 'Homme' : 'Femme'}"></span></th>
			<th scope="col"><span>Visualiser</span></th>
			
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsDistWP3}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center">
			<form method="POST" th:action="@{/detailWP3Dist}">
				<input type="hidden" th:name="district" id="district" th:value="${b[0]}"/>
				<input type="hidden" th:name="sexe" id="sexe" th:value="${b[2]}"/>
				<input type="hidden" th:name="nameCanevas" id="nameCanevas" th:value="*{nameCanevas}"/>
				<button class="text-center" type="submit"><img th:src="@{/images/eye.png}" style="width: 20px;"></button>
			</form>
			</td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDistWP3.![[1]])}"></td>
		</tr>

	</tbody>
</table>


<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsDistH)}">
	<thead>
		<tr>
			<th scope="col"><span>District</span></th>
			<th scope="col"><span>Homme</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsDistH}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDistH.![[1]])}"></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsDistF)}">
	<thead>
		<tr>
			<th scope="col"><span>District</span></th>
			<th scope="col"><span>Femme</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsDistF}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[2]}"></td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDistF.![[2]])}"></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsDistAll)}">
	<thead>
		<tr>
			<th scope="col"><span>District</span></th>
			<th scope="col"><span>Homme</span></th>
			<th scope="col"><span>Femme</span></th>
			<th scope="col"><span>Sous Total</span></th>
			<th scope="col"><span>Visualiser</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsDistAll}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center" th:text="${b[2]}"></td>
			<td class="center" th:text="${b[1]} + ${b[2]}"></td>
			<td class="center">
			<form method="POST" th:action="@{/detailGenreCountAllDist}">
				<input type="hidden" th:name="district" id="district" th:value="${b[0]}"/>
				<input type="hidden" th:name="canevas" id="canevas" th:value="${b[3]}"/>
				<button class="text-center" type="submit"><img th:src="@{/images/eye.png}" style="width: 20px;"></button>
			</form>
			</td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDistAll.![[1]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDistAll.![[2]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDistAll.![[1]+[2]])}" /></td>
		</tr>

	</tbody>
</table>
<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsDistAllSum)}">
	<thead>
		<tr>
			<th scope="col"><span>District</span></th>
			<th scope="col"><span>Homme</span></th>
			<th scope="col"><span>Femme</span></th>
			<th scope="col"><span>Sous Total</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsDistAllSum}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center" th:text="${b[2]}"></td>
			<td class="center" th:text="${b[1]} + ${b[2]}"></td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDistAllSum.![[1]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDistAllSum.![[2]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDistAllSum.![[1]+[2]])}" /></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsDistAllWP3)}">
	<thead>
		<tr>
			<th scope="col"><span>District</span></th>
			<th scope="col"><span>Homme</span></th>
			<th scope="col"><span>Femme</span></th>
			<th scope="col"><span>Sous Total</span></th>
			<th scope="col"><span>Visualiser</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsDistAllWP3}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
			<td class="center" th:text="${b[2]}"></td>
			<td class="center" th:text="${b[1]} + ${b[2]}"></td>
			<td class="center">
			<form method="POST" th:action="@{/detailWP3AllDist}">
				<input type="hidden" th:name="district" id="district" th:value="${b[0]}"/>
				<input type="hidden" th:name="nameCanevas" id="nameCanevas" th:value="*{nameCanevas}"/>
				<button class="text-center" type="submit"><img th:src="@{/images/eye.png}" style="width: 20px;"></button>
			</form>
			</td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDistAllWP3.![[1]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDistAllWP3.![[2]])}"></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDistAllWP3.![[1]+[2]])}" /></td>
		</tr>

	</tbody>
</table>


<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsDC)}">
	<thead>
		<tr>
			<th scope="col"><span>Date de partage</span></th>
			<th scope="col"><span>Nombre d'auteur documents</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsDC}">
			<td class="center" th:text="${#dates.format(b[0],'dd-MM-yyyy')}"></td>
			<td class="center" th:text="${b[1]}"></td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsDC.![[1]])}" /></td>
		</tr>

	</tbody>
</table>

<table class="composantes-table" id="myTable"
	th:if="${not #lists.isEmpty(tpsNosexe)}">
	<thead>
		<tr>
			<th scope="col"><span th:text="*{namePlace}"></span></th>
			<th scope="col"><span>Nombre</span></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="b : ${tpsNosexe}">
			<td class="center" th:text="${b[0]}"></td>
			<td class="center" th:text="${b[1]}"></td>
		</tr>
		<tr>
			<td class="center" colspan="1"><b>Total</b></td>
			<td class="center" th:text="*{#aggregates.sum(tpsNosexe.![[1]])}" /></td>
		</tr>

	</tbody>
</table>
