<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>GIZ</title>
        <link rel="icon" type="image/png" href="css/images/icons/favicon.png">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!--JQUERY-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <!-- Nuestro css-->
        <link rel="stylesheet" type="text/css" th:href="@{css/index.css}">
        <link rel="stylesheet" type="text/css" th:href="@{css/fonts.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/giz.css}">
        
    <script th:src="@{/css/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/css/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/css/vendor/bootstrap/js/bootstrap.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    </head>
    <body class="stories">
        <div th:include="/pds_header.html"></div>
        <section class="main">
                <div class="home-content" >
                <br>
                    <div class="card">
                        <header class="composantesTable-header justify-between">
                            <h2 class="page-title" th:text="*{nameCanevas}"></h2>
                        </header>
                        
							<table class="composantes-table" id="myTable" th:if="${not #lists.isEmpty(tps)}">
									<thead>
										<tr>
											<th scope="col"><span>Code village</span></th>
											<th scope="col"><span>District</span></th>
											<th scope="col"><span>Hommes</span></th>
											<th scope="col"><span>Femmes</span></th>
											<th scope="col"><span>Sous-total</span></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="b : ${tps}">
											<td th:text="${b[0]}"></td>
											<td th:text="${b[1]}"></td>
											<td th:text="${b[2]}"></td>
											<td th:text="${b[3]}"></td>
											<td th:text="${b[2]} + ${b[3]}"></td>
										</tr>
										  <tr>
									        <td colspan="2"><b>Total</b></td>
									        <td th:text="*{#aggregates.sum(tps.![[2]])}" /></td>
									        <td th:text="*{#aggregates.sum(tps.![[3]])}" /></td>
									        <td th:text="*{#aggregates.sum(tps.![[2]+[3]])}" /></td>
									    </tr>
							
									</tbody>
								</table>
								<table class="composantes-table" id="myTable" th:if="${not #lists.isEmpty(tpsGenre)}">
									<thead>
										<tr>
											<th scope="col"><span>Code village</span></th>
											<th scope="col"><span>District</span></th>
											<th scope="col"><span>Nombres</span></th>
											<th scope="col"><span>Sexe</span></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="b : ${tpsGenre}">
											<td th:text="${b[0]}"></td>
											<td th:text="${b[1]}"></td>
											<td th:text="${b[2]}"></td>
											<td th:text="${b[3]}"></td>
										</tr>
										  <tr>
									        <td colspan="3"><b>Total</b></td>
									        <td th:text="*{#aggregates.sum(tpsGenre.![[2]])}" /></td>
									    </tr>
							
									</tbody>
								</table>
								
									<table class="composantes-table" id="myTable" th:if="${not #lists.isEmpty(tpsCom)}">
									<thead>
										<tr>
											<th scope="col"><span>Code village</span></th>
											<th scope="col"><span>Communes</span></th>
											<th scope="col"><span>Nombres</span></th>
											<th scope="col"><span>Sexe</span></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="b : ${tpsCom}">
											<td th:text="${b[0]}"></td>
											<td th:text="${b[1]}"></td>
											<td th:text="${b[2]}"></td>
											<td th:text="${b[3]}"></td>
										</tr>
										  <tr>
									        <td colspan="2"><b>Total</b></td>
									        <td th:text="*{#aggregates.sum(tpsCom.![[2]])}" /></td>
									    </tr>
							
									</tbody>
								</table>
								
								<table class="composantes-table" id="myTable" th:if="${not #lists.isEmpty(tpsDist)}">
									<thead>
										<tr>
											<th scope="col"><span>District</span></th>
											<th scope="col"><span>Nombres</span></th>
											<th scope="col"><span>Sexe</span></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="b : ${tpsDist}">
											<td th:text="${b[0]}"></td>
											<td th:text="${b[1]}"></td>
											<td th:text="${b[2]}"></td>
										</tr>
										  <tr>
									        <td colspan="1"><b>Total</b></td>
									        <td th:text="*{#aggregates.sum(tpsDist.![[1]])}" /></td>
									    </tr>
							
									</tbody>
								</table>
                    </div>
                </div>
        </section>
    </body>
</html>
