<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<head th:include="/headLinks.html" th:remove="tag"></head>
</head>
<body class="stories">
<div th:include="/pds_header.html"></div>
<br>
<br>
<br>
<br>
<br>
<br>
	<header class="composantesTable-header justify-between">
		<h2 class="page-title">Benefciaire WP2</h2>
	</header>
<div class="card container">

	<table class="composantes-table" id="myTable">
		<thead>
			<tr>
				<th scope="col"><span>Nom et prénom</span></th>
				<th scope="col"><span>Age</span></th>
				<th scope="col"><span>Genre</span></th>
				<th scope="col"><span>Année de naissance</span></th>
				<th scope="col"><span>Code village</span></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="b : ${Beneficiaire}">
				<td th:text="${b.nom_prenom}"></td>
				<td th:text="${b.age}== 0 ? ${annee} - ${b.annee_naissance}  : ${b.age}"></td>
				<td th:text="${b.sexe}"></td>
				<td th:text="${b.annee_naissance}"></td>
				<td th:text="${b.code_village}"></td>
			</tr>

		</tbody>
	</table>
</div>

</body>

</html>