<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<head th:include="/headLinks.html" th:remove="tag"></head>
</head>
<body class="stories">
<div th:include="/pds_header.html"></div>

	<header class="composantesTable-header justify-between">
	<br>
<br>
<br>
<br>
<br>
<br>
		<h2 class="page-title">[[#{menu.beneficiaires}]] WP2</h2>
	</header>
<div class="card container">

	<table class="composantes-table text-center" id="myTable">
		<thead>
				<tr>
					<th scope="col"><span>[[#{nom.prenom}]]</span></th>
					<th scope="col"><span>Age</span></th>
					<th scope="col"><span>[[#{genre}]]</span></th>
					<th scope="col"><span>Code village</span></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="b : ${Beneficiaire}">
					<td th:text="${b.nom_prenom}"></td>
					<td 
						th:text="${b.age}"></td>
					<td th:text="${b.sexe}"></td>
					<td th:text="${b.code_village}"></td>
				</tr>
			</tbody>
	</table>
</div>

</body>

</html>