<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>GIZ</title>
<head th:include="/headLinksFragment.html" th:remove="tag"></head>

<script type="text/javascript">
            function confirmDelete(id) {
                $('#deleteModal').modal('show');
                $("#sensibileIdHiddenInput").val(id);
            }

            function confirmDeleteSensibilise() {
                var id = $("#sensibileIdHiddenInput").val();
                window.location = "deleteWP3ActivEcoJeune/" + id;
            }
        </script>
</head>
<body class="stories">
	<div th:include="/pds_header.html"></div>
	<section class="main">
		<br>
		<form method="POST" th:action="@{/addBeneficiaire}">
			<div class="card">
				<header class="composantesTable-header justify-between">
					<h2 class="page-title">CANEVAS ACTIVITE ECONOMIQUE REALISEE
						PAR LES JEUNES ENTRENEURS</h2>
				</header>
				<div>
					<a class="btn pds-primary-btn pds-add-user-btn pds-icon-btn"
						href="Wp3ActivEcoJeuneForm"><img class="icon-btn"
						src="img/pds_add_document.svg"><span class="label-btn">
							[[#{ajouter}]] </span></a>
				</div>
				<table class="composantes-table" id="myTable">
					<thead>
						<tr>
							<th scope="col"><span>Code village</span></th>
							<th scope="col"><span>Noms et Prénoms de jeunes
									entrepreneurs</span></th>
							<th scope="col"><span>Sexe (H/F)</span></th>
							<th scope="col"><span>Année de naissance</span></th>
							<th scope="col"><span>Organisme formateur (liste
									déroulante)</span></th>
							<th scope="col"><span>Formation technique suivi</span></th>
							<th scope="col"><span>Date de fin de la formation</span></th>
							<th scope="col"><span>Activité économique réalisée</span></th>
							<th scope="col"><span>Date de démarrage</span></th>
							<th scope="col"><span>Activité</span></th>
							<th class="center td-action"><span>Action</span></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="b : ${wp3ActivEcoJeune}">
							<td th:text="${b.code_village}"></td>
							<td th:text="${b.nom_prenom}"></td>
							<td th:text="${b.sexe}"></td>
							<td th:text="${b.annee_naissance}"></td>
							<td th:text="${b.organisme_formateur}"></td>
							<td th:text="${b.frm_tech_suivi}"></td>
							<td th:text="${#dates.format(b.date_fin_frm,'dd-MM-yyyy')}"></td>
							<td th:text="${b.activite_eco}"></td>
							<td th:text="${#dates.format(b.date_demarrage,'dd-MM-yyyy')}"></td>
							<td th:text="${b.activite}"></td>
							<td class="center td-action"><a
								th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
								class="delete"
								th:onclick="@{'javascript:confirmDelete(\''+${b.id}+'\');'}"></a>
								<a
								th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
								class="edit" th:href="@{'/editWp3ActivEcoJeune/' + ${b.id}}"></a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</form>
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
			aria-labelledby="deleteModalTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content card-body">
					<div class="modal-header">
						<h2 class="page-title modal-title" id="exampleModalLongTitle">[[#{confirm.titre}]]</h2>
						<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">X</span>
						</button> -->
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-modal">
						<span>[[#{confirm}]]</span> <input type="hidden"
							id="sensibileIdHiddenInput">
					</div>
					<div class="modal-footer btn-row">
						<button type="button" class="gbtn cancel" data-dismiss="modal">[[#{fermer}]]</button>
						<button type="button" class="gbtn"
							th:onclick="confirmDeleteSensibilise()">[[#{supprimer}]]</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" th:src="@{js/ajaxEdition.js}"></script>
</body>
</html>
