/*ROBOTO FONT*/

@font-face
{
    font-family: 'Roboto';
    src: local('?'),
        url('./fonts/Roboto-Light-webfont.woff') format('woff'),
        url('./fonts/Roboto-Light-webfont.ttf') format('truetype'),
        url('./fonts/Roboto-Light-webfont.svg#Roboto-Light-webfont') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}




/* BARLOW FONT */


@font-face
{
    font-family: 'Barlow';
    src: local('?'),
        url('./fonts/Barlow-SemiBold-webfont.woff') format('woff'),
        url('./fonts/Barlow-SemiBold-webfont.ttf') format('truetype'),
        url('./fonts/Barlow-SemiBold-webfont.svg#Barlow-SemiBold-webfont') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
@font-face
{
    font-family: 'Barlow';
    src: local('?'),
        url('./fonts/Barlow-Regular.woff') format('woff'),
        url('./fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face
{
    font-family: 'Barlow';
    src: local('?'),
        url('./fonts/Barlow-ExtraBold.woff') format('woff'),
        url('./fonts/Barlow-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: block;
}