<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Salon 2D</title>
	<head th:include="/headLinksFragment.html" th:remove="tag"></head>
	
	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/user-form.css"
		th:href="@{/css/user-form.css}">

</head>
<body>
	<div class="container">
		<div class="mx-auto col-sm-8 main-section" >
			<div class="card">
				<div class="card-header">
					<h4>Inscription des utilisateurs</h4>
				</div>
				<div class="card-body">
					<div th:include="user-form/user-form.html" th:remove="tag" ></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
