<div class="table-responsive">
	<table id="userList" class="pds-table table table-hover table-striped">
		<thead class="thead-light">
		<tr>
			<th scope="col">Nom</th>
			<th scope="col">Pr&eacute;nom</th>
			<th scope="col">Société</th>
			<th scope="col">Fonction</th>
			<th scope="col">E-mail</th>
			<th scope="col">T&eacute;l&eacute;phone</th>
			<th scope="col">Identifiant</th>
			<th scope="col" class="td-action">Action</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="user: ${userList}">
			
			<td th:text="${user.lastName}"></td>
			<td th:text="${user.firstName}"></td>
			<td th:text="${user.societe}"></td>
			<td th:text="${user.fonction}"></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.tel}"></td>
			<td th:text="${user.username}"></td>
			
			<td class="td-action">
					<span class="action-btn" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_USER'')')} and ${#httpServletRequest.remoteUser==user.username})">
						<a href="#" th:href="@{'/editUser/'+ ${user.id}}"><img src="../static/img/pds_edit.svg" th:src="@{/img/pds_edit.svg}"></a>
					</span>
					<span class="action-btn" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >
						<a href="#" th:onclick="'javascript:confirmDelete(\''+ ${user.id} +'\');'"><img src="../static/img/pds_trash-bin-outline.svg" th:src="@{/img/pds_trash-bin-outline.svg}"></a>
					</span>
			</td>
		</tr>
		</tbody>
	</table>
	<div class="alert alert-danger text-center" th:if="${listErrorMessage}" th:text="${listErrorMessage}">Error MEssage</div>
</div>

<script type="text/javascript">
function confirmDelete(id){
	$('#deleteModal').modal('show');
	$("#userIdHiddenInput").val(id);
}

function deleteUser(){
	var id = $("#userIdHiddenInput").val();
    window.location = "deleteUser/"+id;
}
</script>